arquitectura/odoo19/clientes/integraiadev/extra-addons/extra/chat_bot_integra/n8n/canaliza_ws-ig-fb-tg_odoo_1.json
{
  "name": "canaliza_ws-ig-fb-tg_odoo_1",
  "nodes": [
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1744,
        160
      ],
      "id": "4ec6c26b-830a-4fa3-bfca-047f5109696b",
      "name": "Audio_a_Texto_whatsapp",
      "credentials": {
        "openAiApi": {
          "id": "SynY9HmZH2SsZkWD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1920,
        160
      ],
      "id": "e0c82bd6-999c-42a4-9237-7f8dcf392c02",
      "name": "Get File Data",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "SxSs5ggMU2LgbDMZ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f85334e7-e910-4938-8c4b-4555f55c7ba0",
              "name": "text",
              "value": "={{ $json.text || '0'}}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "image_url_passed",
              "name": "image_url",
              "value": "={{ $json.image_url || '' }}",
              "type": "string"
            },
            {
              "id": "1af7f04d-4a46-4b3d-930a-4cf8dcd2314e",
              "name": "platform",
              "value": "={{ $json.platform }}",
              "type": "string"
            },
            {
              "id": "d6f22467-af6c-493b-a7b3-54389897f457",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "a49a0e8c-4a5c-4e96-a135-dec725ea4440",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "700afea9-14f5-4411-a461-4ff98e82641a",
              "name": "platform",
              "value": "={{ $json.platform }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        192
      ],
      "id": "e22636ec-f93e-413b-8e87-eb063ab5e8f5",
      "name": "Preparar_Input_AI"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.content !== null && $json.content !== ''}}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "4313ad77-8015-436a-a40d-3ef7cab78263"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37f80664-6420-4c2b-b965-b65ec4656310",
                    "leftValue": "={{ $json.file_type === 'audio'}}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd0fe7e7-3a63-4016-bbde-90cd552598f1",
                    "leftValue": "={{ $json.file_type === 'image'}}",
                    "rightValue": "image",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2144,
        144
      ],
      "id": "6e885d33-b16c-4e42-a67f-bf46fe041e1f",
      "name": "Texto_o_Audio?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "uuid1",
              "name": "text",
              "value": "={{ $json.text || ''}}",
              "type": "string"
            },
            {
              "id": "uuid2",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "uuid3",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "uuid4",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "uuid5",
              "name": "platform",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "image_url_field",
              "name": "image_url",
              "value": "={{ $json.image_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1744,
        320
      ],
      "id": "0634a0b6-7065-423a-a714-9c850c5b2a93",
      "name": "Procesar_Imagen_whatsapp"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-text",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "extract-image-url",
              "name": "image_url",
              "value": "={{ $json.image_url || '' }}",
              "type": "string"
            },
            {
              "id": "954d8f18-e7df-4531-90eb-584acf6d054c",
              "name": "session_id",
              "value": "={{ $('Texto_o_Audio?').item.json.session_id }}",
              "type": "string"
            },
            {
              "id": "d905e1d7-dcf3-433f-b6f5-3f542b73c848",
              "name": "account_id",
              "value": "={{ $('Texto_o_Audio?').item.json.account_id }}",
              "type": "string"
            },
            {
              "id": "5f67b3ca-a17a-46bc-b22d-9c8ed16328d3",
              "name": "conversation_id",
              "value": "={{ $('Texto_o_Audio?').item.json.conversation_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        160
      ],
      "id": "65c35c25-3c2e-48b5-af70-49c8cf24db78",
      "name": "Extraer_Texto_Audio"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "text",
        "key": "={{ $json.session_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -768,
        -176
      ],
      "id": "ce404e06-61fb-4f88-957b-ddfa601f1b62",
      "name": "Get_buffer_data",
      "credentials": {
        "redis": {
          "id": "GsXqpDjFeodKzf4H",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.session_id }}",
        "messageData": "={{$json.text}}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1248,
        -176
      ],
      "id": "bdb49ec2-f3c7-4b24-a2df-1c5e2d8f2b73",
      "name": "Buffer",
      "credentials": {
        "redis": {
          "id": "GsXqpDjFeodKzf4H",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -992,
        -176
      ],
      "id": "4f071f37-beef-4744-a58f-1ab32d2d6bfe",
      "name": "Wait",
      "webhookId": "564db4dd-a6d5-4618-ba9a-d0bb8618e4b3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "06942dbe-1fd7-4bae-b8fb-97cec3b5ed14",
              "leftValue": "={{ $json.text.last() }}",
              "rightValue": "={{ $('Wait').item.json.text }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -544,
        -176
      ],
      "id": "333cc8b5-8fc0-42e7-946a-a99007f6ae92",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -416,
        -48
      ],
      "id": "05b47a7f-73af-4191-a820-00cc3f504e6b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1472,
        -176
      ],
      "id": "cd8a74a5-b0ae-4122-b80c-009202047ba5",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Buffer').item.json.session_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -208,
        -384
      ],
      "id": "69f51caa-7b36-4ce4-b1e0-639952ca884c",
      "name": "Borrar_mensajes_buffer",
      "credentials": {
        "redis": {
          "id": "GsXqpDjFeodKzf4H",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87d8bec9-6edd-4d7d-9c57-bb9ae6ff754f",
              "name": "text",
              "value": "={{ $('Get_buffer_data').item.json.text.map(item => Array.isArray(item) ? item.join('\\n') : item).join(',') }}",
              "type": "string"
            },
            {
              "id": "0ce2eaa6-9b19-45cf-823e-f2aab0c8af45",
              "name": "session_id",
              "value": "={{ $('answer-chastwoot').item.json.session_id }}",
              "type": "string"
            },
            {
              "id": "100f120e-da0f-42b0-ad99-0300e8d82216",
              "name": "account_id",
              "value": "={{ $('answer-chastwoot').item.json.account_id }}",
              "type": "string"
            },
            {
              "id": "bc8acf8d-31f1-461c-bbab-e45e4169c9b4",
              "name": "conversation_id",
              "value": "={{ $('answer-chastwoot').item.json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "bd48bd51-341d-4292-adef-fc7c0316b54f",
              "name": "message_type",
              "value": "={{ $('answer-chastwoot').item.json.message_type }}",
              "type": "string"
            },
            {
              "id": "eae6bd01-42f3-409b-88c3-f100d02d8884",
              "name": "user_name",
              "value": "={{ $('answer-chastwoot').item.json.user_name }}",
              "type": "string"
            },
            {
              "id": "0ef35dab-5685-426b-ad56-9f523b228322",
              "name": "user_number",
              "value": "={{ $('answer-chastwoot').item.json.user_number }}",
              "type": "string"
            },
            {
              "id": "006894ab-1a68-4638-9704-d1a2f703b6f8",
              "name": "platform",
              "value": "={{ $('answer-chastwoot').item.json.platform }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -384
      ],
      "id": "1896b338-35c9-470e-a143-a6c6d1de62af",
      "name": "Agrupar_texto_acumulado_resto_variables_enviar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integraia.lat/api/session/consultar",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $json.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        544
      ],
      "id": "dd85e323-a1cb-439e-9bd2-fc326a51a664",
      "name": "Consultar_estado_Odoo",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// UNIR DATOS DE AMBOS NODOS - FORMATO ESPECÍFICO\n// =============================================\n\n// 1. Obtener datos de Preparar_Input_AI (primer elemento del merge)\nconst datosPrepararInput = $input.all()[0]?.json || {};\n\n// 2. Obtener datos de Consultar_estado_Odoo (segundo elemento del merge)\n// La respuesta de Odoo viene como array: [{...}]\nlet datosOdoo = $input.all()[1]?.json;\nif (Array.isArray(datosOdoo) && datosOdoo.length > 0) {\n    datosOdoo = datosOdoo[0];\n} else {\n    datosOdoo = datosOdoo || {};\n}\n\nconsole.log(\"📥 DATOS DE ODOO (crudo):\", JSON.stringify($input.all()[1]?.json, null, 2));\nconsole.log(\"📥 DATOS DE ODOO (procesado):\", JSON.stringify(datosOdoo, null, 2));\n\n// 3. Extraer el estado_anterior - AHORA SE LLAMA \"estado\" en lugar de \"debug_estado_nuevo\"\nconst estado_anterior = datosOdoo.estado || null;\nconst modoOdoo = estado_anterior?.modo || datosOdoo.modo || null;\nconst pasoOdoo = estado_anterior?.paso || datosOdoo.paso || null;\n\n// 4. Crear el resultado en el formato EXACTO solicitado\nconst resultadoFinal = {\n    // Campos de Preparar_Input_AI\n    text: datosPrepararInput.text || \"0\",\n    session_id: datosPrepararInput.session_id || \"\",\n    image_url: datosPrepararInput.image_url || \"\",\n    platform: datosPrepararInput.platform || \"whatsapp\",\n    account_id: datosPrepararInput.account_id || \"\",\n    conversation_id: datosPrepararInput.conversation_id || \"\",\n    \n    // Campos de Odoo (estado_anterior completo)\n    estado_anterior: estado_anterior,\n    \n    // Campos adicionales de Odoo (modo y paso al nivel raíz también)\n    modo: modoOdoo,\n    paso: pasoOdoo,\n    \n    // Datos paciente para fácil acceso\n    datos_paciente: estado_anterior?.datos_paciente || {}\n};\n\n// 5. Si estado_anterior es null, crear estructura básica\nif (!estado_anterior) {\n    resultadoFinal.estado_anterior = {\n        modo: datosOdoo.modo || null,\n        paso: datosOdoo.paso || null,\n        datos_paciente: {},\n        timestamp: null\n    };\n}\n\nconsole.log(\"✅ RESULTADO FINAL:\");\nconsole.log(JSON.stringify(resultadoFinal, null, 2));\n\nreturn [{ json: resultadoFinal }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        336
      ],
      "id": "6f95a7b8-a5cb-44fd-afb3-94bdbe661535",
      "name": "Procesar_respuesta_Odoo"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        336
      ],
      "id": "38a9fdf8-43a1-4f8c-b392-2f855fdef955",
      "name": "Combinar_entrada_session_odoo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "abec1745-9884-494b-b11e-d7a2c6cf74b6",
              "leftValue": "={{ $json.modo }}",
              "rightValue": "AGENDANDO_CITA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "bdb76473-e091-401d-8445-4b3e20b1fac5",
              "leftValue": "={{ $json.paso }}",
              "rightValue": "SOLICITAR_TELEFONO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        432
      ],
      "id": "126e7d6b-30de-458f-86ba-3b98e17b22d8",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// PROCESADOR SIMPLIFICADO DE RESULTADO DE BÚSQUEDA - CORREGIDO\n// =============================================\n\ntry {\n  // 1. OBTENER DATOS DE ENTRADA\n  const datosEntrada = $json || {};\n  \n  console.log(\"=== PROCESADOR DE BÚSQUEDA - ENTRADA ===\");\n  console.log(\"Tipo de entrada:\", typeof datosEntrada);\n  console.log(\"Es array?:\", Array.isArray(datosEntrada));\n  console.log(\"Contenido entrada:\", JSON.stringify(datosEntrada, null, 2));\n\n  // Variables por defecto\n  let estado_anterior = {\n    modo: \"AGENDANDO_CITA\",\n    paso: \"SOLICITAR_TELEFONO\",\n    timestamp: new Date().toISOString(),\n    datos_paciente: {}\n  };\n\n  let datos_paciente = {};\n  let siguiente_paso = \"SOLICITAR_TELEFONO\";\n  let respuesta = \"\";\n  let modo = \"AGENDANDO_CITA\";\n  let telefono_buscado = null;\n\n  // 2. BUSCAR EL ARRAY DE RESULTADO EN LA ENTRADA\n  let resultadoArray = null;\n\n  if (Array.isArray(datosEntrada)) {\n    resultadoArray = datosEntrada;\n    console.log(\"✅ Entrada detectada como array directo\");\n  } else if (typeof datosEntrada === 'object') {\n    for (const key in datosEntrada) {\n      if (Array.isArray(datosEntrada[key])) {\n        resultadoArray = datosEntrada[key];\n        console.log(`✅ Array encontrado en propiedad: ${key}`);\n        break;\n      }\n    }\n    \n    if (!resultadoArray && datosEntrada.existe !== undefined) {\n      resultadoArray = [datosEntrada];\n      console.log(\"✅ Objeto de paciente convertido a array\");\n    }\n  }\n\n  // 3. PROCESAR EL RESULTADO\n  if (resultadoArray && resultadoArray.length > 0) {\n    const resultado = resultadoArray[0];\n    \n    // Extraer el teléfono buscado de diferentes campos posibles\n    telefono_buscado = resultado.telefono_buscado || resultado.telefono || null;\n    \n    if (resultado.existe === true) {\n      console.log(\"✅ PACIENTE ENCONTRADO EN EL SISTEMA\");\n      \n      // Cargar datos del paciente\n      datos_paciente = {\n        nombre: resultado.nombre_completo || null,\n        cedula: resultado.cedula || null,\n        telefono: telefono_buscado || resultado.telefono || null,\n        fecha_nacimiento: resultado.fecha_nacimiento || null\n      };\n\n      const es_paciente_nuevo = (resultado.es_paciente_nuevo || \"\").toLowerCase();\n\n      // Determinar el siguiente paso\n      if (es_paciente_nuevo === \"si\") {\n        datos_paciente.paciente_nuevo = \"SI\";\n        siguiente_paso = \"SOLICITAR_MEDIO_PAGO\";\n        \n        respuesta = `✅ **TUS DATOS HAN SIDO CARGADOS AUTOMÁTICAMENTE**\\n\\n` +\n          `🔍 Encontramos tu información en el sistema:\\n\\n` +\n          `• Nombre: ${datos_paciente.nombre}\\n` +\n          `• Cédula: ${datos_paciente.cedula}\\n` +\n          `• Fecha de nacimiento: ${datos_paciente.fecha_nacimiento}\\n` +\n          `• Teléfono: ${datos_paciente.telefono || 'No cargado'}\\n\\n` +\n          `🏥 Eres paciente nuevo\\n\\n` +\n          `💳 Ahora necesito saber tu medio de pago:\\n\\nEscribe:\\n• PARTICULAR - para pago directo\\n• SEGURO - si tienes seguro médico`;\n          \n      } else if (es_paciente_nuevo === \"no\") {\n        datos_paciente.paciente_nuevo = \"NO\";\n        siguiente_paso = \"SOLICITAR_MEDIO_PAGO\";\n        \n        respuesta = `✅ **TUS DATOS HAN SIDO CARGADOS AUTOMÁTICAMENTE**\\n\\n` +\n          `🔍 Encontramos tu información en el sistema:\\n\\n` +\n          `• Nombre: ${datos_paciente.nombre}\\n` +\n          `• Cédula: ${datos_paciente.cedula}\\n` +\n          `• Fecha de nacimiento: ${datos_paciente.fecha_nacimiento}\\n` +\n          `• Teléfono: ${datos_paciente.telefono || 'No cargado'}\\n\\n` +\n          `🏥 Eres paciente existente\\n\\n` +\n          `💳 Ahora necesito saber tu medio de pago:\\n\\nEscribe:\\n• PARTICULAR - para pago directo\\n• SEGURO - si tienes seguro médico`;\n          \n      } else {\n        siguiente_paso = \"SOLICITAR_PACIENTE_NUEVO\";\n        \n        respuesta = `✅ **TUS DATOS HAN SIDO CARGADOS AUTOMÁTICAMENTE**\\n\\n` +\n          `🔍 Encontramos tu información en el sistema:\\n\\n` +\n          `• Nombre: ${datos_paciente.nombre}\\n` +\n          `• Cédula: ${datos_paciente.cedula}\\n` +\n          `• Fecha de nacimiento: ${datos_paciente.fecha_nacimiento}\\n` +\n          `• Teléfono: ${datos_paciente.telefono || 'No cargado'}\\n\\n` +\n          `🏥 ¿Es tu primera vez en UNISA? (Responde SI o NO)`;\n      }\n      \n      // Llenar también el estado_anterior.datos_paciente\n      estado_anterior.datos_paciente = { ...datos_paciente };\n      \n    } else {\n      // PACIENTE NO ENCONTRADO\n      console.log(\"❌ PACIENTE NO ENCONTRADO EN EL SISTEMA\");\n      \n      // Usar el mensaje que viene en el resultado o uno por defecto\n      respuesta = resultado.mensaje || `❌ No encontré datos registrados con el teléfono ${telefono_buscado || 'proporcionado'}.\\n\\n📋 Por favor, escribe tu cédula (solo números) para continuar con el registro:`;\n      \n      siguiente_paso = \"SOLICITAR_NOMBRE\";\n      \n      // Llenar datos_paciente solo con el teléfono buscado\n      datos_paciente = {\n        telefono: telefono_buscado\n      };\n      \n      // estado_anterior.datos_paciente se queda vacío como solicitas\n      estado_anterior.datos_paciente = {};\n    }\n  } else {\n    // Sin resultado válido\n    siguiente_paso = \"SOLICITAR_TELEFONO\";\n    respuesta = `❌ No se pudo procesar la búsqueda.\\n\\n📞 Por favor, envía tu número de teléfono nuevamente en formato +58 seguido de 10 dígitos.\\n\\nEjemplo: +584141234567`;\n    \n    datos_paciente = {\n      telefono: null\n    };\n    \n    estado_anterior.datos_paciente = {};\n  }\n\n  // 4. CONSTRUIR SALIDA\n  const salida = {\n    respuesta: respuesta,\n    estado_anterior: estado_anterior,\n    modo: modo,\n    paso: siguiente_paso,\n    datos_paciente: datos_paciente\n  };\n\n  console.log(\"=== SALIDA FINAL ===\");\n  console.log(\"Salida generada:\", JSON.stringify(salida, null, 2));\n\n  return [salida];\n\n} catch (error) {\n  console.error(\"ERROR en procesador de búsqueda:\", error);\n  \n  // En caso de error, devolver estructura básica\n  const salida_error = {\n    respuesta: \"⚠️ Hubo un error al procesar la búsqueda.\\n\\n📞 Por favor, envía tu número de teléfono nuevamente en formato +58 seguido de 10 dígitos.\\n\\nEjemplo: +584141234567\",\n    estado_anterior: {\n      modo: \"AGENDANDO_CITA\",\n      paso: \"SOLICITAR_TELEFONO\",\n      timestamp: new Date().toISOString(),\n      datos_paciente: {}\n    },\n    modo: \"AGENDANDO_CITA\",\n    paso: \"SOLICITAR_TELEFONO\",\n    datos_paciente: {}\n  };\n\n  return [salida_error];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        416
      ],
      "id": "b5424dbb-2c32-4263-baf3-a8f54f04716a",
      "name": "Paso_a_ejecutar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integraia.lat/chat_bot_integra/buscar_por_telefono_http",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"telefono\": \"{{$json.text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        416
      ],
      "id": "7988e11e-bfeb-4206-8393-b5fff2bb3cb7",
      "name": "BUSCAR_TELEFONO",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1280,
        352
      ],
      "id": "ca133767-c2e6-4d35-b1eb-722c2beb7d8a",
      "name": "Combinar_entrada_session_odoo1"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// COMBINADOR OPTIMIZADO CON ESTADO_ACTUAL - VERSIÓN CORREGIDA\n// =============================================\n\ntry {\n  // Obtener las dos entradas del Merge (siempre llegan en este orden)\n  const entrada1 = $input.all()[0]?.json || {};  // Contexto de la conversación\n  const entrada2 = $input.all()[1]?.json || {};  // Resultado del procesador de búsqueda\n  \n  console.log(\"=== COMBINADOR CON ESTADO_ACTUAL ===\");\n  console.log(\"Entrada 1 (contexto):\", JSON.stringify(entrada1, null, 2));\n  console.log(\"Entrada 2 (procesador):\", JSON.stringify(entrada2, null, 2));\n\n  // Función auxiliar para verificar si un valor está realmente vacío\n  function estaVacio(valor) {\n    if (valor === null || valor === undefined) return true;\n    if (typeof valor === 'string') return valor.trim() === '';\n    if (typeof valor === 'object' && !Array.isArray(valor)) {\n      return Object.keys(valor).length === 0;\n    }\n    return false;\n  }\n\n  // 1. DETERMINAR MODO Y PASO (dar prioridad a la segunda entrada si existe)\n  let modo, paso;\n  \n  if (!estaVacio(entrada2)) {\n    // Usar modo y paso de la segunda entrada (prioridad)\n    modo = entrada2.modo || \"\";\n    paso = entrada2.paso || \"\";\n    \n    console.log(\"Usando modo y paso de entrada2:\", { modo, paso });\n  } else {\n    // Si no hay segunda entrada, usar modo y paso de la primera entrada\n    modo = entrada1.modo || \"\";\n    paso = entrada1.paso || \"\";\n    \n    console.log(\"Usando modo y paso de entrada1:\", { modo, paso });\n  }\n\n  // 2. DETERMINAR DATOS_PACIENTE (combinar ambos)\n  let datos_paciente = {};\n  \n  // Primero tomar los datos_paciente de la primera entrada\n  if (entrada1.datos_paciente && !estaVacio(entrada1.datos_paciente)) {\n    datos_paciente = { ...entrada1.datos_paciente };\n    console.log(\"Datos paciente iniciales de entrada1:\", datos_paciente);\n  }\n  \n  // Luego sobrescribir/agregar con los datos de la segunda entrada\n  if (entrada2.datos_paciente && !estaVacio(entrada2.datos_paciente)) {\n    datos_paciente = { ...datos_paciente, ...entrada2.datos_paciente };\n    console.log(\"Datos paciente actualizados con entrada2:\", datos_paciente);\n  }\n\n  // 3. CONSTRUIR ESTADO_ACTUAL\n  const timestamp = new Date().toISOString();\n  \n  const estado_actual = {\n    modo: modo,\n    paso: paso,\n    timestamp: timestamp,\n    datos_paciente: datos_paciente\n  };\n\n  // 4. CONSTRUIR RESULTADO FINAL\n  const resultado = {\n    // Campos de contexto (siempre de la primera entrada)\n    text: entrada1.text || \"\",\n    session_id: entrada1.session_id || \"\",\n    image_url: entrada1.image_url || \"\",\n    platform: entrada1.platform || \"whatsapp\",\n    account_id: entrada1.account_id || \"\",\n    conversation_id: entrada1.conversation_id || \"\",\n    \n    // Estado actual\n    estado_actual: estado_actual,\n    \n    // Campos redundantes para compatibilidad (se extraen del estado_actual)\n    modo: estado_actual.modo,\n    paso: estado_actual.paso,\n    datos_paciente: estado_actual.datos_paciente\n  };\n\n  console.log(\"=== SALIDA FINAL ===\");\n  console.log(\"Resultado generado:\", JSON.stringify(resultado, null, 2));\n\n  return [resultado];\n\n} catch (error) {\n  console.error(\"ERROR en combinador:\", error);\n  \n  // Estructura de error con estado_actual\n  const timestamp = new Date().toISOString();\n  const estado_actual_error = {\n    modo: \"\",\n    paso: \"\",\n    timestamp: timestamp,\n    datos_paciente: {}\n  };\n  \n  return [{\n    text: \"\",\n    session_id: \"\",\n    image_url: \"\",\n    platform: \"whatsapp\",\n    account_id: \"1\",\n    conversation_id: \"7\",\n    estado_actual: estado_actual_error,\n    modo: estado_actual_error.modo,\n    paso: estado_actual_error.paso,\n    datos_paciente: estado_actual_error.datos_paciente\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        352
      ],
      "id": "8d8fc066-f21b-4458-8dd7-86779d8fd2f2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2272,
        416
      ],
      "id": "0ce4f00e-a13a-4431-afcf-e29022baceff",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b9b41b4-ef98-4699-80eb-24e70dbee117",
              "name": "text",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "0f98afd1-e2e6-4c4d-9e9f-6e38c87694c6",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "9cbd2d29-4e32-46fd-bbea-88317ec7681d",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "ddcd14fb-bfd1-4f23-a0e0-7d0fa54e8719",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "9052a8a2-5a39-4b6f-a44f-728e2e7c2c41",
              "name": "message_type",
              "value": "={{ $json.message_type }}",
              "type": "string"
            },
            {
              "id": "c76e6bbf-22cf-4dd8-ae67-49c5801c5be1",
              "name": "user_name",
              "value": "={{ $json.user_name }}",
              "type": "string"
            },
            {
              "id": "b16fbd53-b6a3-4e0b-ac12-01912379a2fc",
              "name": "user_number",
              "value": "={{ $json.user_number }}",
              "type": "string"
            },
            {
              "id": "5e7f1bef-2e33-448d-b2dd-8aa060685c18",
              "name": "user_message",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "image_url_assignment",
              "name": "image_url",
              "value": "={{ $json.image_url || '' }}",
              "type": "string"
            },
            {
              "id": "cd2eb5de-c51c-4890-8f5c-d333c70ea366",
              "name": "platform",
              "value": "={{ $json.platform }}",
              "type": "string"
            },
            {
              "id": "02590fd2-331a-4e3c-bd8b-5b23fe1645b8",
              "name": "channel",
              "value": "={{ $json.channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2032,
        -192
      ],
      "id": "0c5fa2af-5d54-4185-a0de-ab485c789897",
      "name": "Obtener_Info"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2320,
        160
      ],
      "id": "fee738ad-c958-48ba-8ee1-0180684c6369",
      "name": "answer-chastwoot"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "text": null,
          "session_id": "1133713248730768",
          "account_id": "1",
          "conversation_id": "43",
          "message_type": "incoming",
          "user_name": "saymon",
          "user_number": null,
          "platform": "instagram",
          "channel": "Channel::Instagram",
          "content": null,
          "file_type": "audio",
          "phone_number": null,
          "image_url": "https://lookaside.fbsbx.com/ig_messaging_cdn/?asset_id=2556915091368787&signature=AYdykIGTBgLddR5mCtQPzM9cM6yywtE0S2dA_L-t5QCxd4xZGeNusgCijTCzyj6oaIP1zA2jR9mOsb1X0MOImSb5aAMr6mKsQCJhCM2fT61IisDFvFuy7upKqu14N_NaCS1dm5cuS0BF3VxkJEXhyY_inGo5zw6qs1mEbl442eQ4kOZUL0ChfYhIgQcgDbx49kI1L0B1iufrtrvFSat-vt37D-um6A",
          "agente_desactivado": "on"
        }
      }
    ]
  },
  "connections": {
    "Audio_a_Texto_whatsapp": {
      "main": [
        [
          {
            "node": "Extraer_Texto_Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Data": {
      "main": [
        [
          {
            "node": "Audio_a_Texto_whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto_o_Audio?": {
      "main": [
        [
          {
            "node": "Obtener_Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get File Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar_Imagen_whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar_Imagen_whatsapp": {
      "main": [
        [
          {
            "node": "Preparar_Input_AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer_Texto_Audio": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Preparar_Input_AI": {
      "main": [
        [
          {
            "node": "Consultar_estado_Odoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combinar_entrada_session_odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get_buffer_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_buffer_data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Agrupar_texto_acumulado_resto_variables_enviar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar_mensajes_buffer": {
      "main": [
        [
          {
            "node": "Preparar_Input_AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar_texto_acumulado_resto_variables_enviar": {
      "main": [
        [
          {
            "node": "Borrar_mensajes_buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_estado_Odoo": {
      "main": [
        [
          {
            "node": "Combinar_entrada_session_odoo",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combinar_entrada_session_odoo": {
      "main": [
        [
          {
            "node": "Procesar_respuesta_Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "BUSCAR_TELEFONO",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Procesar_respuesta_Odoo": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combinar_entrada_session_odoo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCAR_TELEFONO": {
      "main": [
        [
          {
            "node": "Paso_a_ejecutar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paso_a_ejecutar": {
      "main": [
        [
          {
            "node": "Combinar_entrada_session_odoo1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combinar_entrada_session_odoo1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Obtener_Info": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "answer-chastwoot": {
      "main": [
        [
          {
            "node": "Texto_o_Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c652fb0-5054-4a7c-ae09-0bf90930a39e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac8b8e9b824b3711008329bf41bf68736c3261debaa6dcb0eaceede9a0a7edac"
  },
  "id": "44Hf0tLv7msSiroV",
  "tags": []
}