arquitectura/odoo18/clientes/cliente1/extra-addons/extra/chat-bot-unisa/n8n/answer-chastwoot-whatsapp.json
{
  "name": "answer-chastwoot-whatsapp",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3104,
        -80
      ],
      "id": "e1bffe23-730a-43a1-9cbf-e11e5d29ce8d",
      "name": "answer-chastwoot-whatsapp"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2480,
        -32
      ],
      "id": "4ad70f1a-c0f0-454d-8d59-934571db5afc",
      "name": "Audio_a_Texto_whatsapp",
      "credentials": {
        "openAiApi": {
          "id": "SynY9HmZH2SsZkWD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2656,
        -32
      ],
      "id": "4154956a-02af-47a9-8e8e-98fc4ca1786c",
      "name": "Get File Data",
      "credentials": {
        "httpBearerAuth": {
          "id": "SxSs5ggMU2LgbDMZ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b9b41b4-ef98-4699-80eb-24e70dbee117",
              "name": "text",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "0f98afd1-e2e6-4c4d-9e9f-6e38c87694c6",
              "name": "session_id",
              "value": "={{ $json.user_number }}",
              "type": "string"
            },
            {
              "id": "9cbd2d29-4e32-46fd-bbea-88317ec7681d",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "ddcd14fb-bfd1-4f23-a0e0-7d0fa54e8719",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "9052a8a2-5a39-4b6f-a44f-728e2e7c2c41",
              "name": "message_type",
              "value": "={{ $json.message_type }}",
              "type": "string"
            },
            {
              "id": "c76e6bbf-22cf-4dd8-ae67-49c5801c5be1",
              "name": "user_name",
              "value": "={{ $json.user_name }}",
              "type": "string"
            },
            {
              "id": "b16fbd53-b6a3-4e0b-ac12-01912379a2fc",
              "name": "user_number",
              "value": "={{ $json.user_number }}",
              "type": "string"
            },
            {
              "id": "5e7f1bef-2e33-448d-b2dd-8aa060685c18",
              "name": "user_message",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "image_url_assignment",
              "name": "image_url",
              "value": "={{ $json.image_url || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2272,
        -272
      ],
      "id": "9353e675-639e-4d5f-8fce-7ba381954390",
      "name": "Obtener_Info_whatsapp"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f85334e7-e910-4938-8c4b-4555f55c7ba0",
              "name": "text",
              "value": "={{ $json.text || '0'}}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "image_url_passed",
              "name": "image_url",
              "value": "={{ $json.image_url || '' }}",
              "type": "string"
            },
            {
              "id": "1af7f04d-4a46-4b3d-930a-4cf8dcd2314e",
              "name": "platform",
              "value": "=whatsapp",
              "type": "string"
            },
            {
              "id": "d6f22467-af6c-493b-a7b3-54389897f457",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "a49a0e8c-4a5c-4e96-a135-dec725ea4440",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        -48
      ],
      "id": "c7223b33-ec14-4edb-a6a1-b87f95b5617c",
      "name": "Preparar_Input_AI"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.content !== null && $json.content !== ''}}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "4313ad77-8015-436a-a40d-3ef7cab78263"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37f80664-6420-4c2b-b965-b65ec4656310",
                    "leftValue": "={{ $json.file_type === 'audio'}}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd0fe7e7-3a63-4016-bbde-90cd552598f1",
                    "leftValue": "={{ $json.file_type === 'image'}}",
                    "rightValue": "image",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2896,
        -48
      ],
      "id": "f0767731-6dee-4326-8e76-b21b7ad10897",
      "name": "Texto_o_Audio?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "uuid1",
              "name": "text",
              "value": "={{ $json.text || ''}}",
              "type": "string"
            },
            {
              "id": "uuid2",
              "name": "session_id",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "uuid3",
              "name": "account_id",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "uuid4",
              "name": "conversation_id",
              "value": "={{ $json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "uuid5",
              "name": "platform",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "image_url_field",
              "name": "image_url",
              "value": "={{ $json.image_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2240,
        224
      ],
      "id": "3cd63d38-3416-4586-ac23-9fee33b1da63",
      "name": "Procesar_Imagen_whatsapp"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-text",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "extract-image-url",
              "name": "image_url",
              "value": "={{ $json.image_url || '' }}",
              "type": "string"
            },
            {
              "id": "954d8f18-e7df-4531-90eb-584acf6d054c",
              "name": "session_id",
              "value": "={{ $('Texto_o_Audio?').item.json.user_number }}",
              "type": "string"
            },
            {
              "id": "d905e1d7-dcf3-433f-b6f5-3f542b73c848",
              "name": "account_id",
              "value": "={{ $('Texto_o_Audio?').item.json.account_id }}",
              "type": "string"
            },
            {
              "id": "5f67b3ca-a17a-46bc-b22d-9c8ed16328d3",
              "name": "conversation_id",
              "value": "={{ $('Texto_o_Audio?').item.json.conversation_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        -32
      ],
      "id": "42714dd6-f079-429a-9472-93a105426aaa",
      "name": "Extraer_Texto_Audio"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "text",
        "key": "={{ $json.session_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1568,
        -448
      ],
      "id": "dd3c945a-e0dd-44f8-adda-04eb4b698ac2",
      "name": "Get_buffer_data",
      "credentials": {
        "redis": {
          "id": "GsXqpDjFeodKzf4H",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.session_id }}",
        "messageData": "={{$json.text}}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1856,
        -448
      ],
      "id": "25ae956f-523b-4546-a7a7-deec760bba5d",
      "name": "Buffer",
      "credentials": {
        "redis": {
          "id": "GsXqpDjFeodKzf4H",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1712,
        -448
      ],
      "id": "ce47cb3c-f925-481f-855e-2cdffa0c240f",
      "name": "Wait",
      "webhookId": "564db4dd-a6d5-4618-ba9a-d0bb8618e4b3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "06942dbe-1fd7-4bae-b8fb-97cec3b5ed14",
              "leftValue": "={{ $json.text.last() }}",
              "rightValue": "={{ $('Wait').item.json.text }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1328,
        -448
      ],
      "id": "c8a86de8-34d1-4171-8236-c578ee526ddf",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1216,
        -320
      ],
      "id": "d23293eb-bc75-4744-b3fe-3d32d218626e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2016,
        -160
      ],
      "id": "7425a262-215e-4f84-b45f-a8851fad01b0",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Buffer').item.json.session_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -816,
        -496
      ],
      "id": "cbc8a3d5-5058-43c5-bdad-41096f0a42b3",
      "name": "Borrar_mensajes_buffer",
      "credentials": {
        "redis": {
          "id": "GsXqpDjFeodKzf4H",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3024,
        128
      ],
      "id": "19c8457b-22ac-41d5-81c2-ad654b10ca32",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87d8bec9-6edd-4d7d-9c57-bb9ae6ff754f",
              "name": "text",
              "value": "={{ $('Get_buffer_data').item.json.text.map(item => Array.isArray(item) ? item.join('\\n') : item).join(',') }}",
              "type": "string"
            },
            {
              "id": "0ce2eaa6-9b19-45cf-823e-f2aab0c8af45",
              "name": "session_id",
              "value": "={{ $('answer-chastwoot-whatsapp').item.json.session_id }}",
              "type": "string"
            },
            {
              "id": "100f120e-da0f-42b0-ad99-0300e8d82216",
              "name": "account_id",
              "value": "={{ $('answer-chastwoot-whatsapp').item.json.account_id }}",
              "type": "string"
            },
            {
              "id": "bc8acf8d-31f1-461c-bbab-e45e4169c9b4",
              "name": "conversation_id",
              "value": "={{ $('answer-chastwoot-whatsapp').item.json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "bd48bd51-341d-4292-adef-fc7c0316b54f",
              "name": "message_type",
              "value": "={{ $('answer-chastwoot-whatsapp').item.json.message_type }}",
              "type": "string"
            },
            {
              "id": "eae6bd01-42f3-409b-88c3-f100d02d8884",
              "name": "user_name",
              "value": "={{ $('answer-chastwoot-whatsapp').item.json.user_name }}",
              "type": "string"
            },
            {
              "id": "0ef35dab-5685-426b-ad56-9f523b228322",
              "name": "user_number",
              "value": "={{ $('answer-chastwoot-whatsapp').item.json.user_number }}",
              "type": "string"
            },
            {
              "id": "006894ab-1a68-4638-9704-d1a2f703b6f8",
              "name": "image_url",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        -496
      ],
      "id": "7bdc7729-c6a6-4886-b4dd-45d530912be4",
      "name": "Agrupar_texto_acumulado_resto_variables_enviar"
    }
  ],
  "pinData": {},
  "connections": {
    "answer-chastwoot-whatsapp": {
      "main": [
        [
          {
            "node": "Texto_o_Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio_a_Texto_whatsapp": {
      "main": [
        [
          {
            "node": "Extraer_Texto_Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Data": {
      "main": [
        [
          {
            "node": "Audio_a_Texto_whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener_Info_whatsapp": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto_o_Audio?": {
      "main": [
        [
          {
            "node": "Obtener_Info_whatsapp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get File Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar_Imagen_whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar_Imagen_whatsapp": {
      "main": [
        [
          {
            "node": "Preparar_Input_AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer_Texto_Audio": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Preparar_Input_AI": {
      "main": [
        []
      ]
    },
    "Buffer": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get_buffer_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_buffer_data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Agrupar_texto_acumulado_resto_variables_enviar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar_mensajes_buffer": {
      "main": [
        [
          {
            "node": "Preparar_Input_AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Agrupar_texto_acumulado_resto_variables_enviar": {
      "main": [
        [
          {
            "node": "Borrar_mensajes_buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6fbd5337-1c1b-4016-8a74-694611bcf28d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac8b8e9b824b3711008329bf41bf68736c3261debaa6dcb0eaceede9a0a7edac"
  },
  "id": "44Hf0tLv7msSiroV",
  "tags": []
}