arquitectura/odoo18/clientes/cliente1/extra-addons/extra/chat-bot-unisa/n8n/chastwoot_fb-ig-whatsapp.json
{
  "name": "chastwoot_fb-ig-whatsapp",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Verificar_imagen_texto').item.json.platform }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1fac10cf-62ad-4d48-917c-ce678f3f8730"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "20031916-d51a-4dec-87e5-7cfb1f1676b1",
                    "leftValue": "={{ $('Verificar_imagen_texto').item.json.platform }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1600,
        256
      ],
      "id": "765519f0-b159-4074-b7c3-ba02d2519e2c",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        448
      ],
      "id": "e1fe6cb7-d940-45de-8e59-1df9a510d024",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "SynY9HmZH2SsZkWD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=// =====================================================\n// BOT UNISA - FLUJO PRINCIPAL OPTIMIZADO\n// =====================================================\n\n// FECHA ACTUAL: {{ $now }}\n// PLATAFORMA: {{ $json.platform }}\n// SESIÓN: {{ $json.session_id }}\n\n// =====================================================\n// INICIALIZACIÓN - SIN MEMORIA ENTRE MENSAJES\n// =====================================================\n\n// Variables de estado para esta ejecución (no persistir)\nlet paso_actual = \"INICIO\";\nlet contexto = \"TITULAR\";\n\nlet paciente = {\n    telefono: \"\",\n    cedula: \"\",\n    nombre_completo: \"\",\n    fecha_nacimiento: \"\",\n    paciente_nuevo: \"\"\n};\n\nlet medio_pago = \"\";\nlet servicio = \"\";\nlet fecha_cita = \"\";\nlet hora_cita = \"\";\nlet membresia_interes = \"\";\nlet fotos_cedula = [];\nlet imagenes_adicionales = [];\n\nlet captura_realizada = false;\nlet esperando_confirmacion = false;\n\n// =====================================================\n// FUNCIONES DE APOYO\n// =====================================================\n\nfunction normalizarTelefono(t) {\n    if (!t) return null;\n    t = t.trim().replace(/\\s+/g, '');\n    if (/^0\\d{10}$/.test(t)) return \"+58\" + t.substring(1);\n    if (/^\\+58\\d{10}$/.test(t)) return t;\n    if (/^58\\d{10}$/.test(t)) return \"+\" + t;\n    if (/^\\d{10}$/.test(t)) return \"+58\" + t;\n    return null;\n}\n\nfunction esUrlValida(url) {\n    return url && url.startsWith('http');\n}\n\n// =====================================================\n// MANEJO DE ENTRADA DEL USUARIO\n// =====================================================\n\nconst text = {{ $json.text }};\nconst platform = {{ $json.platform }};\nconst session_id = {{ $json.session_id }};\nconst current_image_url = {{ $json.current_image_url || '' }};\nconst image_url = {{ $json.image_url || '' }};\n\n// =====================================================\n// DETECCIÓN DE INTENCIÓN INICIAL\n// =====================================================\n\n// Si el usuario envía saludo inicial\nif (text.toLowerCase().includes('hola') || \n    text.toLowerCase().includes('buenas') || \n    text.toLowerCase().includes('buenos')) {\n    \n    return `¡Hola! 😊 Bienvenido/a a UNISA, tu Unidad de Salud Integral.  \nSoy BOT UNISA, tu asistente virtual disponible las 24 horas.\n\n¿Qué necesitas hoy? Puedes escribirme directamente:  \n💲 Precios  \n🩺 Servicios que ofrecemos  \n📅 Agendar cita / laboratorio / estudios  \n💙 Tarjeta de la Salud o CREDIUNISA  \n❓ Otra consulta  \n\n¡Estoy aquí para ayudarte!`;\n}\n\n// Si el usuario quiere agendar cita (cualquier variación)\nif (text.toLowerCase().includes('agendar') || \n    text.toLowerCase().includes('cita') ||\n    text.toLowerCase().includes('reservar') ||\n    text.toLowerCase().includes('consulta') ||\n    text.toLowerCase().includes('quiero una cita') ||\n    text.toLowerCase().includes('necesito cita')) {\n    \n    paso_actual = \"SOLICITAR_TELEFONO\";\n    return '📱 Para agendar una cita, necesito tu número de WhatsApp con código de país.\\n\\nEjemplo: +584123456789\\n\\nPor favor, escríbelo a continuación:';\n}\n\n// Si el usuario pide precios\nif (text.toLowerCase().includes('precio') || \n    text.toLowerCase().includes('valor') || \n    text.toLowerCase().includes('cuesta') ||\n    text.toLowerCase().includes('cuánto')) {\n    \n    return '💲 **PRECIOS UNISA 2025**\\n\\n• Consulta médica general → 25 USD\\n• Rayos X (cualquier proyección) → 10 USD\\n• Mamografía sin implantes → 20 USD\\n• Mamografía con implantes → 30 USD\\n\\n💙 Pregúntame por la Tarjeta de la Salud y obtienes hasta 30% de descuento + 1 consulta gratuita al año';\n}\n\n// Si el usuario pide servicios\nif (text.toLowerCase().includes('servicio') || \n    text.toLowerCase().includes('ofrecen') ||\n    text.toLowerCase().includes('qué hacen')) {\n    \n    return '🩺 **SERVICIOS UNISA**\\n\\n• Consultas médicas generales y especialidades\\n• Laboratorio clínico\\n• Rayos X digital\\n• Ecografías (general, obstétrica, doppler)\\n• Mamografía\\n• Densitometría ósea\\n• Electrocardiograma y ecocardiograma\\n• Área de Atención Primaria 24/7\\n\\n¿Cuál servicio te interesa?';\n}\n\n// Si el usuario menciona tarjeta o crédito\nif (text.toLowerCase().includes('tarjeta') || \n    text.toLowerCase().includes('credünisa') ||\n    text.toLowerCase().includes('crédito')) {\n    \n    return '💙 **TARJETA DE LA SALUD + CREDIUNISA**\\n\\n1. Hasta 30% de descuento en todos los servicios\\n2. 1 consulta gratuita al año\\n3. Vigencia 12 meses\\n4. Costo: 80 USD (20 USD al afiliarte + 6 cuotas de 10 USD)\\n5. Incluye hasta 5 personas\\n6. CREDIUNISA: 100 USD de crédito inmediato en 6 cuotas\\n\\n¿Deseas afiliarte ahora?';\n}\n\n// =====================================================\n// FLUJO DE AGENDAMIENTO (PASO A PASO)\n// =====================================================\n\n// PASO 1: SOLICITAR TELÉFONO\nif (paso_actual === \"SOLICITAR_TELEFONO\") {\n    const telefono = normalizarTelefono(text);\n    \n    if (!telefono) {\n        return '❌ Formato incorrecto. Debe ser: +58 seguido de 10 dígitos.\\n\\nEjemplo: +584123456789\\n\\nPor favor, intenta nuevamente:';\n    }\n    \n    paciente.telefono = telefono;\n    paso_actual = \"BUSCANDO_TELEFONO\";\n    \n    return {\n        tool: \"buscar_por_telefono_http\",\n        parameters: { telefono: telefono },\n        message: `🔍 Buscando información para el número ${telefono}...`\n    };\n}\n\n// PASO 2: PROCESAR RESULTADO DE BÚSQUEDA\nif (paso_actual === \"BUSCANDO_TELEFONO\") {\n    // Verificar si existe y tiene datos completos\n    if ({{ $json.existe === true && $json.cedula && $json.nombre_completo && $json.fecha_nacimiento }}) {\n        paciente.cedula = {{ $json.cedula }};\n        paciente.nombre_completo = {{ $json.nombre_completo }};\n        paciente.fecha_nacimiento = {{ $json.fecha_nacimiento }};\n        paso_actual = \"CONFIRMAR_DATOS\";\n        \n        return `✅ **ENCONTRAMOS TUS DATOS**\\n\\n• 👤 Nombre: {{ $json.nombre_completo }}\\n• 🆔 Cédula: {{ $json.cedula }}\\n• 🎂 Fecha nacimiento: {{ $json.fecha_nacimiento }}\\n\\n¿Son correctos? (Responde SI o NO)`;\n    } else {\n        // No encontrado o datos incompletos\n        paso_actual = \"SOLICITAR_CEDULA\";\n        return '📋 No encontramos un registro completo. Para crear uno nuevo, necesito:\\n\\n**1. Tu número de cédula (solo números):**';\n    }\n}\n\n// PASO 3: CONFIRMAR DATOS ENCONTRADOS\nif (paso_actual === \"CONFIRMAR_DATOS\") {\n    if (text.toUpperCase() === 'SI' || text.toUpperCase() === 'SÍ') {\n        paso_actual = \"SOLICITAR_MEDIO_PAGO\";\n        return '💳 **MEDIO DE PAGO**\\n\\n¿Cómo deseas pagar?\\n\\n• PARTICULAR - Pago directo\\n• SEGURO - Con seguro médico';\n    } else if (text.toUpperCase() === 'NO') {\n        paso_actual = \"SOLICITAR_CEDULA\";\n        return '📋 **ACTUALIZAR DATOS**\\n\\nPor favor, ingresa tu número de cédula (solo números):';\n    } else {\n        return '❓ Por favor, responde SI o NO:\\n\\n¿Los datos son correctos?';\n    }\n}\n\n// PASO 4: SOLICITAR CÉDULA (NUEVO REGISTRO)\nif (paso_actual === \"SOLICITAR_CEDULA\") {\n    if (!text.trim() || !/^\\d+$/.test(text.trim())) {\n        return '❌ Por favor, ingresa solo números.\\n\\n**Tu cédula (solo números):**';\n    }\n    \n    paciente.cedula = text.trim();\n    paso_actual = \"SOLICITAR_NOMBRE\";\n    return '👤 **NOMBRE COMPLETO**\\n\\nAhora ingresa tu nombre completo:';\n}\n\n// PASO 5: SOLICITAR NOMBRE\nif (paso_actual === \"SOLICITAR_NOMBRE\") {\n    if (!text.trim() || text.trim().length < 3) {\n        return '❌ Nombre muy corto. Ingresa tu nombre completo real:';\n    }\n    \n    paciente.nombre_completo = text.trim();\n    paso_actual = \"SOLICITAR_FECHA_NACIMIENTO\";\n    return '🎂 **FECHA DE NACIMIENTO**\\n\\nIngresa tu fecha de nacimiento (dd/mm/aaaa):\\nEjemplo: 15/05/1990';\n}\n\n// PASO 6: SOLICITAR FECHA DE NACIMIENTO\nif (paso_actual === \"SOLICITAR_FECHA_NACIMIENTO\") {\n    if (!text.trim() || !/\\d{1,2}\\/\\d{1,2}\\/\\d{4}/.test(text.trim())) {\n        return '❌ Formato incorrecto. Usa dd/mm/aaaa\\n\\nEjemplo: 15/05/1990\\n\\nTu fecha de nacimiento:';\n    }\n    \n    paciente.fecha_nacimiento = text.trim();\n    paso_actual = \"SOLICITAR_PACIENTE_NUEVO\";\n    return '🏥 **PRIMERA VEZ EN UNISA**\\n\\n¿Es tu primera vez en UNISA? (Responde SI o NO)';\n}\n\n// PASO 7: PREGUNTAR SI ES PACIENTE NUEVO\nif (paso_actual === \"SOLICITAR_PACIENTE_NUEVO\") {\n    const respuesta = text.toUpperCase();\n    if (respuesta === 'SI' || respuesta === 'SÍ') {\n        paciente.paciente_nuevo = 'SI';\n    } else if (respuesta === 'NO') {\n        paciente.paciente_nuevo = 'NO';\n    } else {\n        return '❓ Por favor, responde SI o NO:\\n\\n¿Es tu primera vez en UNISA?';\n    }\n    \n    paso_actual = \"SOLICITAR_MEDIO_PAGO\";\n    return '💳 **MEDIO DE PAGO**\\n\\n¿Cómo deseas pagar?\\n\\n• PARTICULAR - Pago directo\\n• SEGURO - Con seguro médico';\n}\n\n// PASO 8: SOLICITAR MEDIO DE PAGO\nif (paso_actual === \"SOLICITAR_MEDIO_PAGO\") {\n    const respuesta = text.toUpperCase();\n    \n    if (respuesta.includes('PARTICULAR') || respuesta.includes('DIRECTO')) {\n        medio_pago = 'Particular';\n    } else if (respuesta.includes('SEGURO')) {\n        medio_pago = 'Seguro médico';\n    } else {\n        return '❌ Opción no reconocida.\\n\\nEscribe:\\n• PARTICULAR - para pago directo\\n• SEGURO - si tienes seguro médico';\n    }\n    \n    paso_actual = \"SOLICITAR_SERVICIO\";\n    return '🩺 **SERVICIO REQUERIDO**\\n\\n¿Qué servicio necesitas?\\n\\nEjemplos: Medicina General, Odontología, Laboratorio, Rayos X, etc.';\n}\n\n// PASO 9: SOLICITAR SERVICIO\nif (paso_actual === \"SOLICITAR_SERVICIO\") {\n    if (!text.trim()) {\n        return '❌ Por favor, describe el servicio que necesitas:';\n    }\n    \n    servicio = text.trim();\n    paso_actual = \"SOLICITAR_FECHA_CITA\";\n    return '📅 **FECHA DESEADA**\\n\\n¿Para qué fecha quieres la cita? (dd/mm/aaaa)\\n\\nTambién puedes escribir:\\n• LO ANTES POSIBLE\\n• ESTA SEMANA\\n• PRÓXIMA SEMANA';\n}\n\n// PASO 10: SOLICITAR FECHA DE CITA\nif (paso_actual === \"SOLICITAR_FECHA_CITA\") {\n    if (!text.trim()) {\n        return '❌ Por favor, indica la fecha:';\n    }\n    \n    fecha_cita = text.trim();\n    paso_actual = \"SOLICITAR_HORA_CITA\";\n    return '⏰ **HORARIO PREFERIDO**\\n\\n¿Prefieres horario de mañana o tarde?\\n\\nEscribe:\\n• MAÑANA\\n• TARDE\\n• CUALQUIERA';\n}\n\n// PASO 11: SOLICITAR HORA DE CITA\nif (paso_actual === \"SOLICITAR_HORA_CITA\") {\n    const respuesta = text.toUpperCase();\n    \n    if (respuesta.includes('MAÑANA') || respuesta.includes('MANANA')) {\n        hora_cita = 'Mañana';\n    } else if (respuesta.includes('TARDE')) {\n        hora_cita = 'Tarde';\n    } else if (respuesta.includes('CUALQUIERA')) {\n        hora_cita = 'Cualquiera';\n    } else {\n        return '❌ Opción no válida.\\n\\nEscribe:\\n• MAÑANA\\n• TARDE\\n• CUALQUIERA';\n    }\n    \n    paso_actual = \"SOLICITAR_MEMBRESIA\";\n    return '⭐ **MEMBRESÍA UNISA**\\n\\n¿Te interesa conocer los beneficios de nuestra membresía?\\n\\nResponde SI o NO:';\n}\n\n// PASO 12: PREGUNTAR SOBRE MEMBRESÍA\nif (paso_actual === \"SOLICITAR_MEMBRESIA\") {\n    const respuesta = text.toUpperCase();\n    if (respuesta === 'SI' || respuesta === 'SÍ') {\n        membresia_interes = 'SI';\n    } else if (respuesta === 'NO') {\n        membresia_interes = 'NO';\n    } else {\n        return '❓ Por favor, responde SI o NO:\\n\\n¿Te interesa la membresía?';\n    }\n    \n    paso_actual = \"SOLICITAR_FOTO_CEDULA\";\n    return '📸 **FOTO DE CÉDULA**\\n\\n¿Deseas enviar una foto de tu cédula ahora?\\n\\nResponde SI o NO:\\n(Si respondes SI, podrás enviar la imagen en el siguiente mensaje)';\n}\n\n// PASO 13: MANEJAR FOTO DE CÉDULA\nif (paso_actual === \"SOLICITAR_FOTO_CEDULA\") {\n    if (text.toUpperCase() === 'SI' || text.toUpperCase() === 'SÍ') {\n        paso_actual = \"ESPERANDO_FOTO_CEDULA\";\n        return '📷 Por favor, envía la foto de tu cédula ahora.\\n\\nAsegúrate de que sea clara y legible.';\n    } else if (text.toUpperCase() === 'NO') {\n        fotos_cedula = [];\n        paso_actual = \"SOLICITAR_IMAGENES_ADICIONALES\";\n        return '✅ Continuaremos sin foto de cédula.\\n\\n¿Tienes órdenes médicas, exámenes previos u otros documentos para compartir?\\n\\nResponde SI o NO:';\n    } else {\n        return '❓ Por favor, responde SI o NO.\\n\\n¿Deseas enviar una foto de tu cédula?';\n    }\n}\n\n// PASO 14: MANEJAR RECEPCIÓN DE FOTO DE CÉDULA\nif (paso_actual === \"ESPERANDO_FOTO_CEDULA\") {\n    // Verificar si es una imagen\n    if (current_image_url && current_image_url.startsWith('http')) {\n        fotos_cedula = [current_image_url];\n        paso_actual = \"SOLICITAR_IMAGENES_ADICIONALES\";\n        return '✅ Foto de cédula recibida correctamente.\\n\\n¿Tienes órdenes médicas, exámenes previos u otros documentos para compartir?\\n\\nResponde SI o NO:';\n    } else {\n        // Si no es una imagen, preguntar de nuevo\n        return '📷 Esperando la foto de tu cédula. Por favor, envíala ahora o escribe *CANCELAR* para continuar sin ella.';\n    }\n}\n\n// PASO 15: MANEJAR IMÁGENES ADICIONALES\nif (paso_actual === \"SOLICITAR_IMAGENES_ADICIONALES\") {\n    if (text.toUpperCase() === 'SI' || text.toUpperCase() === 'SÍ') {\n        paso_actual = \"ESPERANDO_IMAGENES_ADICIONALES\";\n        return '📎 Puedes enviar imágenes adicionales ahora.\\n\\nEnvía una por una. Cuando termines, escribe *LISTO*.';\n    } else if (text.toUpperCase() === 'NO') {\n        imagenes_adicionales = [];\n        paso_actual = \"MOSTRAR_RESUMEN\";\n    } else {\n        return '❓ Por favor, responde SI o NO.\\n\\n¿Tienes documentos adicionales para compartir?';\n    }\n}\n\n// PASO 16: MANEJAR RECEPCIÓN DE IMÁGENES ADICIONALES\nif (paso_actual === \"ESPERANDO_IMAGENES_ADICIONALES\") {\n    if (text.toUpperCase() === 'LISTO') {\n        paso_actual = \"MOSTRAR_RESUMEN\";\n    } else if (current_image_url && current_image_url.startsWith('http')) {\n        imagenes_adicionales.push(current_image_url);\n        return `✅ Imagen adicional recibida (${imagenes_adicionales.length} en total).\\n\\n¿Más imágenes o escribe *LISTO* para continuar?`;\n    } else {\n        return '📎 Envía otra imagen o escribe *LISTO* para continuar.';\n    }\n}\n\n// PASO 17: MOSTRAR RESUMEN Y CONFIRMAR\nif (paso_actual === \"MOSTRAR_RESUMEN\") {\n    paso_actual = \"CONFIRMACION_FINAL\";\n    \n    const resumen = `✅ **RESUMEN DE TU SOLICITUD DE CITA**\\n\\n` +\n        `👤 **DATOS PERSONALES**\\n` +\n        `• Nombre: ${paciente.nombre_completo}\\n` +\n        `• Cédula: ${paciente.cedula}\\n` +\n        `• Teléfono: ${paciente.telefono}\\n` +\n        `• Fecha nacimiento: ${paciente.fecha_nacimiento}\\n` +\n        `• Paciente nuevo: ${paciente.paciente_nuevo}\\n\\n` +\n        `📅 **DATOS DE LA CITA**\\n` +\n        `• Servicio: ${servicio}\\n` +\n        `• Fecha deseada: ${fecha_cita}\\n` +\n        `• Horario preferido: ${hora_cita}\\n` +\n        `• Medio de pago: ${medio_pago}\\n` +\n        `• Interés en membresía: ${membresia_interes}\\n\\n` +\n        `📎 **DOCUMENTACIÓN**\\n` +\n        `• Foto de cédula: ${fotos_cedula.length > 0 ? '✅ Enviada' : '❌ No enviada'}\\n` +\n        `• Documentos adicionales: ${imagenes_adicionales.length > 0 ? `✅ ${imagenes_adicionales.length} enviada(s)` : '❌ No enviados'}\\n\\n` +\n        `🔹 **Para confirmar y agendar escribe:** *CONFIRMAR*\\n` +\n        `🔹 **Para cancelar escribe:** *CANCELAR*`;\n    \n    return resumen;\n}\n\n// PASO 18: CONFIRMACIÓN FINAL\nif (paso_actual === \"CONFIRMACION_FINAL\") {\n    if (text.toUpperCase() === 'CONFIRMAR') {\n        paso_actual = \"CITA_CONFIRMADA\";\n        \n        // Preparar datos para enviar\n        const datosParaEnviar = {\n            ...paciente,\n            medio_pago: medio_pago,\n            servicio: servicio,\n            fecha_preferida: fecha_cita,\n            hora_preferida: hora_cita,\n            membresia_interes: membresia_interes,\n            foto_cedula_url: fotos_cedula.length > 0 ? fotos_cedula[0] : '',\n            imagenes_adicionales: imagenes_adicionales.join(','),\n            plataforma: platform\n        };\n        \n        return {\n            tool: \"capturar_lead_http\",\n            parameters: datosParaEnviar,\n            message: \"🔄 **PROCESANDO TU CITA**\\n\\nEstamos registrando tu información en el sistema...\"\n        };\n    } else if (text.toUpperCase() === 'CANCELAR') {\n        paso_actual = \"INICIO\";\n        return '❌ **SOLICITUD CANCELADA**\\n\\nSi deseas agendar una cita en otro momento, escribe *agendar cita*.\\n\\n¡Gracias por contactar a UNISA!';\n    } else {\n        return '❓ Por favor, escribe *CONFIRMAR* para agendar o *CANCELAR* para cancelar.';\n    }\n}\n\n\n\n// PASO 19: CITA CONFIRMADA\nif (paso_actual === \"CITA_CONFIRMADA\") {\n    // Verificar si tenemos respuesta del controlador\n    if ({{ $json.respuesta_para_bot }}) {\n        // Usar la respuesta del controlador que ahora incluye el ID\n        return {{ $json.respuesta_para_bot }};\n    } else if ({{ $json.lead_id }}) {\n        // Mostrar mensaje con el ID del lead\n        paso_actual = \"INICIO\";\n        return `🎉 **¡CITA AGENDADA CON ÉXITO!**\\n\\n✅ Tu solicitud ha sido registrada en nuestro sistema.\\n📝 **Número de referencia:** {{ $json.lead_id }}\\n📞 Un ejecutivo de UNISA se contactará contigo pronto para confirmar los detalles finales.\\n\\n¡Gracias por confiar en UNISA! ❤️`;\n    } else {\n        // Respuesta por defecto\n        paso_actual = \"INICIO\";\n        return '🎉 **¡CITA AGENDADA CON ÉXITO!**\\n\\n✅ Tu solicitud ha sido registrada en nuestro sistema.\\n📞 Un ejecutivo de UNISA se contactará contigo pronto para confirmar los detalles finales.\\n\\n¡Gracias por confiar en UNISA! ❤️';\n    }\n}\n\n// =====================================================\n// RESPUESTA POR DEFECTO\n// =====================================================\n\nreturn `¡Hola! 😊 Bienvenido/a a UNISA, tu Unidad de Salud Integral.  \nSoy BOT UNISA, tu asistente virtual disponible las 24 horas.\n\n¿Qué necesitas hoy? Puedes escribirme directamente:  \n💲 Precios  \n🩺 Servicios que ofrecemos  \n📅 Agendar cita / laboratorio / estudios  \n💙 Tarjeta de la Salud o CREDIUNISA  \n❓ Otra consulta  \n\n¡Estoy aquí para ayudarte!`;"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1040,
        256
      ],
      "id": "c666bac6-9d6f-4c1e-8cc8-daafdf5b0f25",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Merge').item.json.session_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        336
      ],
      "id": "75cdc389-a5f1-43a3-b6e9-08dc63390d48",
      "name": "Send Telegram Message1",
      "webhookId": "2d0ee3d5-7ec7-4971-9ef8-4428c6f22f90",
      "credentials": {
        "telegramApi": {
          "id": "IltIcHnqCAfUJMoN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::Whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4313ad77-8015-436a-a40d-3ef7cab78263"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37f80664-6420-4c2b-b965-b65ec4656310",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd226af3-e973-4fa2-adee-7b4988db3d90",
                    "leftValue": "={{ $('Pregunta_el_Cliente?').item.json.channel }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2cda969e-9dee-4308-aadd-12cf83aa05d1",
                    "leftValue": "error",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        16,
        336
      ],
      "id": "249880ad-ddc3-4b92-8f91-d9daceca1da0",
      "name": "Indentifica_canal"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -512,
        640
      ],
      "id": "2244711f-f794-47ef-8e30-c02ef8e76353",
      "name": "Dueno_o_Bot_responde"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c30564f-7df5-4564-b859-e13889009357",
                    "leftValue": "={{ $('Entrar_ChattWoot').item.json.body.conversation.labels[0]=='agente_desactivado'?'off':'on' }}",
                    "rightValue": "off",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "respuesta_humana"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1239d7b6-e41f-4d3b-a7b7-c6d691a43e69",
                    "leftValue": "={{ $('Entrar_ChattWoot').item.json.body.conversation.labels[0]=='agente_desactivado'?'off':'on' }}",
                    "rightValue": "on",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Respuesta IA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -400,
        352
      ],
      "id": "2bf22abf-548f-4a1f-be50-b3141ba87336",
      "name": "Configurar_IA_Responda?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c30564f-7df5-4564-b859-e13889009357",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "=incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b266895-9c0c-4a53-804d-2213bca3a1a0",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -720,
        368
      ],
      "id": "36e57fc6-d291-4d83-84ab-fc0b199f6f16",
      "name": "Pregunta_el_Cliente?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.jumpjibe.com/api/v1/accounts/{{ $('Verificar_imagen_texto').item.json.account_id }}/conversations/{{ $('Verificar_imagen_texto').item.json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "8iC5kGyVD9XfKXEU5EzqVRFc"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('AI Agent1').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        -16
      ],
      "id": "d41e3de8-7b4a-4fbb-9e5a-a0360fdb4eb7",
      "name": "Enviar_mensaje_de_IA"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -336,
        -32
      ],
      "id": "60171814-37bd-4545-8200-9e3687de8dee",
      "name": "End1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "44Hf0tLv7msSiroV",
          "mode": "id",
          "cachedResultUrl": "/workflow/44Hf0tLv7msSiroV"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        480,
        304
      ],
      "id": "a470fe22-85d6-407a-a459-5d224d822fe1",
      "name": "Call 'answer-chastwoot-whatsapp'",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b9b41b4-ef98-4699-80eb-24e70dbee117",
              "name": "=text",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "0f98afd1-e2e6-4c4d-9e9f-6e38c87694c6",
              "name": "session_id",
              "value": "={{ $json.body.conversation.contact_inbox.source_id }}",
              "type": "string"
            },
            {
              "id": "9cbd2d29-4e32-46fd-bbea-88317ec7681d",
              "name": "account_id",
              "value": "={{ $json.body.conversation.messages[0].account_id }}",
              "type": "string"
            },
            {
              "id": "ddcd14fb-bfd1-4f23-a0e0-7d0fa54e8719",
              "name": "conversation_id",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "9052a8a2-5a39-4b6f-a44f-728e2e7c2c41",
              "name": "message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "c76e6bbf-22cf-4dd8-ae67-49c5801c5be1",
              "name": "user_name",
              "value": "={{ $json.body.sender.account.name }}",
              "type": "string"
            },
            {
              "id": "b16fbd53-b6a3-4e0b-ac12-01912379a2fc",
              "name": "user_number",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "327aa426-279e-4d47-b4a9-2910e9b62282",
              "name": "platform",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "f921da3f-2311-4646-a2c9-152401811c3f",
              "name": "message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "12bb3da8-0d23-45ec-8ed8-a962d512d0fb",
              "name": "channel",
              "value": "={{ $json.body.conversation.channel }}",
              "type": "string"
            },
            {
              "id": "e70d5c0a-a243-4625-af3e-c40ca295cdef",
              "name": "content",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "8a12bb4d-d77a-466b-ac20-851d770c34c0",
              "name": "file_type",
              "value": "={{ $json.body.conversation.messages[0].attachments[0].file_type }}",
              "type": "string"
            },
            {
              "id": "664d94bf-9a93-472e-8d11-887f1f82af70",
              "name": "phone_number",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "31829d53-6dc4-4a0a-829f-6a203803d8ee",
              "name": "user_name",
              "value": "={{ $json.body.sender.account.name }}",
              "type": "string"
            },
            {
              "id": "1ca7bf91-1d72-4995-a578-12c0aa68da8e",
              "name": "image_url",
              "value": "={{ $json.body.attachments && $json.body.attachments[0] && $json.body.attachments[0].data_url ? $json.body.attachments[0].data_url : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        368
      ],
      "id": "be35110a-5236-4a40-9686-398e5bd88cb3",
      "name": "Obtener_Info_basica"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1136,
        512
      ],
      "id": "94921978-09f3-4897-81df-7d042537a0b2",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1296,
        368
      ],
      "id": "8ba2b0bf-5bd4-44e1-ba5c-cd0df1b15d5e",
      "name": "Entrar_ChattWoot",
      "webhookId": "947db62d-f02e-4e7e-bb94-7b3073131e00"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  console.log(\"=== DEBUG Verificar_imagen_texto ===\");\n  console.log(\"Texto original:\", item.json.text);\n  console.log(\"image_url original:\", item.json.image_url);\n\n  // **NUEVO: SIEMPRE PASAR current_image_url INCLUSO CUANDO NO HAY IMAGEN**\n  if (item.json.image_url && item.json.image_url.includes(\"http\")) {\n    item.json.text = \"IMAGEN_ENVIADA\";\n    item.json.current_image_url = item.json.image_url;\n    console.log(\"✅ IMAGEN DETECTADA - URL expuesta en current_image_url:\", item.json.current_image_url);\n  } else {\n    if (item.json.text && item.json.text.toLowerCase().trim() === \"saltar\") {\n      item.json.text = \"SALTAR\";\n    }\n    // **NUEVO: SIEMPRE PONER current_image_url AUNQUE SEA VACÍO**\n    item.json.current_image_url = \"\";\n  }\n\n  // **NUEVO: AGREGAR VARIABLES DE VERIFICACIÓN**\n  item.json.debug_image_url = item.json.image_url || \"NO_IMAGE\";\n  item.json.debug_current_url = item.json.current_image_url || \"NO_CURRENT_URL\";\n  \n  console.log(\"Texto final enviado al agente:\", item.json.text);\n  console.log(\"current_image_url final:\", item.json.current_image_url || \"vacío\");\n  console.log(\"debug_image_url:\", item.json.debug_image_url);\n  console.log(\"debug_current_url:\", item.json.debug_current_url);\n  console.log(\"=== FIN DEBUG ===\");\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        304
      ],
      "id": "32b4348e-7dbc-424a-af3a-991903bf4fb9",
      "name": "Verificar_imagen_texto"
    },
    {
      "parameters": {
        "toolDescription": "Busca un paciente en el sistema UNISA usando su número de teléfono. Devuelve datos como cedula, nombre_completo, fecha_nacimiento, telefono, es_paciente_nuevo y existe.",
        "method": "POST",
        "url": "https://jumpjibe.com/chat-bot-unisa/buscar_por_telefono_http",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefono",
              "value": "={{ $fromAI('telefono', '', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1312,
        448
      ],
      "id": "bc0773b8-71a4-40b7-9ab9-332c8f398b77",
      "name": "buscar_por_telefono_http"
    },
    {
      "parameters": {
        "toolDescription": "Registra un lead/cita en Odoo con todos los datos del paciente. Úsala solo cuando el usuario confirme todo.",
        "method": "POST",
        "url": "https://jumpjibe.com/chat-bot-unisa/capturar_lead_http",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cedula",
              "value": "={{ $fromAI('cedula', '', 'string') }}"
            },
            {
              "name": "telefono",
              "value": "={{ $fromAI('telefono', '', 'string') }}"
            },
            {
              "name": "nombre_completo",
              "value": "={{ $fromAI('nombre_completo', '', 'string') }}"
            },
            {
              "name": "fecha_nacimiento",
              "value": "={{ $fromAI('fecha_nacimiento', '', 'string') }}"
            },
            {
              "name": "plataforma",
              "value": "={{ $json.platform }}"
            },
            {
              "name": "fecha_preferida",
              "value": "={{ $fromAI('fecha_deseada', '', 'string') }}"
            },
            {
              "name": "hora_preferida",
              "value": "={{ $fromAI('hora_preferida', '', 'string') }}"
            },
            {
              "name": "servicio",
              "value": "={{ $fromAI('servicio', '', 'string') }}"
            },
            {
              "name": "medio_pago",
              "value": "={{ $fromAI('medio_pago', '', 'string') }}"
            },
            {
              "name": "paciente_nuevo",
              "value": "={{ $fromAI('paciente_nuevo', '', 'string') }}"
            },
            {
              "name": "membresia_interes",
              "value": "={{ $fromAI('membresia_interes', '', 'string') }}"
            },
            {
              "name": "foto_cedula_url",
              "value": "={{ $fromAI('foto_cedula_url', '', 'string') }}"
            },
            {
              "name": "imagenes_adicionales",
              "value": "={{ $fromAI('imagenes_adicionales', '', 'string') }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1456,
        416
      ],
      "id": "3cd657eb-444a-41df-86e8-6cea07a12370",
      "name": "capturar_lead_http"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{  $json.session_id}}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1200,
        608
      ],
      "id": "cb6ef37e-bc97-4c2e-9fd7-0f8774b51f17",
      "name": "Postgres Chat Memory",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "ipI4deAzxTgkZ7qT",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Enviar_mensaje_de_IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indentifica_canal": {
      "main": [
        [
          {
            "node": "Call 'answer-chastwoot-whatsapp'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar_IA_Responda?": {
      "main": [
        [
          {
            "node": "End1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Indentifica_canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pregunta_el_Cliente?": {
      "main": [
        [
          {
            "node": "Configurar_IA_Responda?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dueno_o_Bot_responde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'answer-chastwoot-whatsapp'": {
      "main": [
        [
          {
            "node": "Verificar_imagen_texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener_Info_basica": {
      "main": [
        [
          {
            "node": "Pregunta_el_Cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Entrar_ChattWoot": {
      "main": [
        [
          {
            "node": "Obtener_Info_basica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar_imagen_texto": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_por_telefono_http": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "capturar_lead_http": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f1ed620c-4a10-4c9b-af1c-39d3d8c17b9a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac8b8e9b824b3711008329bf41bf68736c3261debaa6dcb0eaceede9a0a7edac"
  },
  "id": "8qh5NT5deV3gD1Yg",
  "tags": []
}