arquitectura/odoo18/clientes/cliente1/extra-addons/extra/chat-bot-unisa/n8n/entrada_ws-ig-fb-tg_ia-0.json
{
  "name": "entrada_ws-ig-fb-tg_ia-0",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        2320
      ],
      "id": "eb2051fb-ac3c-46f6-8081-65723ecce0ad",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "SynY9HmZH2SsZkWD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Mensaje del usuario:** {{ $json.user_message }}\n\n**Estado del sistema:**\n- **Modo:** {{ $json.modo_actual }}\n- **Paso:** {{ $json.paso_actual }}\n- **Herramienta requerida:** {{ $json.usar_herramienta ? \"Sí (\" + $json.herramienta_nombre + \")\" : \"No\" }}\n\n**Instrucción del sistema:**\n{{ $json.usar_herramienta == \"true\" ? \"EJECUTA la herramienta configurada según el system message.\" : ($json.respuesta_directa ? 'RESPONDE exactamente: \"' + $json.respuesta_directa + '\"' : \"Responde normalmente.\") }}",
        "options": {
          "systemMessage": "=// =============================================\n// AGENTE IA UNISA - CONVERSACIÓN\n// =============================================\n\nEres un asistente amable de UNISA. Ayudas a los pacientes a agendar citas, consultar servicios, precios y membresías.\n\nCuando tengas información completa del paciente, usa la herramienta correspondiente para guardar los datos.\n\nSi ya se ejecutó una herramienta (herramienta_ejecutada=true), simplemente comunica el resultado al usuario.\n\nSiempre mantén un tono profesional y amable."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        2064
      ],
      "id": "c3c307a3-bec6-42a9-889c-542551e419fd",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::Whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4313ad77-8015-436a-a40d-3ef7cab78263"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37f80664-6420-4c2b-b965-b65ec4656310",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::Instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd226af3-e973-4fa2-adee-7b4988db3d90",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "Channel::FacebookPage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2cda969e-9dee-4308-aadd-12cf83aa05d1",
                    "leftValue": "error",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3056,
        1824
      ],
      "id": "58fc2546-c3a6-4c49-a161-a07909486bc6",
      "name": "Indentifica_canal"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3904,
        2272
      ],
      "id": "1e3f9e0c-74be-4229-bf07-a7dea6ed3501",
      "name": "Dueno_o_Bot_responde"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c30564f-7df5-4564-b859-e13889009357",
                    "leftValue": "={{ $json.agente_desactivado }}",
                    "rightValue": "off",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "respuesta_humana"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1239d7b6-e41f-4d3b-a7b7-c6d691a43e69",
                    "leftValue": "={{ $json.agente_desactivado }}",
                    "rightValue": "on",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Respuesta IA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3520,
        1808
      ],
      "id": "262da5ea-cbc0-4cfc-9dec-255df6fe734c",
      "name": "Configurar_IA_Responda?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3c30564f-7df5-4564-b859-e13889009357",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "=incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8b266895-9c0c-4a53-804d-2213bca3a1a0",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4176,
        1808
      ],
      "id": "bafa0f55-dba2-4044-a5cd-181ac9de7cd0",
      "name": "Pregunta_el_Cliente?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.jumpjibe.com/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token",
              "value": "8iC5kGyVD9XfKXEU5EzqVRFc"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.respuesta }}"
            },
            {
              "name": "private",
              "value": false
            },
            {
              "name": "content_attributes",
              "value": "={ \"estado_actualizado\": \"No hace nada\" }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        1312
      ],
      "id": "355b0c27-4daa-44d9-ab51-c1479ffedff1",
      "name": "Enviar_mensaje_de_IA",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2704,
        1280
      ],
      "id": "4b8d9322-e62b-4751-b5b7-ad34bbe9e982",
      "name": "End1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b9b41b4-ef98-4699-80eb-24e70dbee117",
              "name": "=text",
              "value": "={{ $('Obtener_Info_entrada').item.json.text }}",
              "type": "string"
            },
            {
              "id": "0f98afd1-e2e6-4c4d-9e9f-6e38c87694c6",
              "name": "session_id",
              "value": "={{ $('Obtener_Info_entrada').item.json.session_id }}",
              "type": "string"
            },
            {
              "id": "9cbd2d29-4e32-46fd-bbea-88317ec7681d",
              "name": "account_id",
              "value": "={{ $('Obtener_Info_entrada').item.json.account_id }}",
              "type": "string"
            },
            {
              "id": "ddcd14fb-bfd1-4f23-a0e0-7d0fa54e8719",
              "name": "conversation_id",
              "value": "={{ $('Obtener_Info_entrada').item.json.conversation_id }}",
              "type": "string"
            },
            {
              "id": "9052a8a2-5a39-4b6f-a44f-728e2e7c2c41",
              "name": "message_type",
              "value": "={{ $('Obtener_Info_entrada').item.json.message_type }}",
              "type": "string"
            },
            {
              "id": "c76e6bbf-22cf-4dd8-ae67-49c5801c5be1",
              "name": "user_name",
              "value": "={{ $('Obtener_Info_entrada').item.json.user_name }}",
              "type": "string"
            },
            {
              "id": "b16fbd53-b6a3-4e0b-ac12-01912379a2fc",
              "name": "user_number",
              "value": "={{ $('Obtener_Info_entrada').item.json.user_number }}",
              "type": "string"
            },
            {
              "id": "327aa426-279e-4d47-b4a9-2910e9b62282",
              "name": "platform",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "f921da3f-2311-4646-a2c9-152401811c3f",
              "name": "message_type",
              "value": "={{ $('Obtener_Info_entrada').item.json.message_type }}",
              "type": "string"
            },
            {
              "id": "12bb3da8-0d23-45ec-8ed8-a962d512d0fb",
              "name": "channel",
              "value": "={{ $('Obtener_Info_entrada').item.json.channel }}",
              "type": "string"
            },
            {
              "id": "e70d5c0a-a243-4625-af3e-c40ca295cdef",
              "name": "content",
              "value": "={{ $('Obtener_Info_entrada').item.json.content }}",
              "type": "string"
            },
            {
              "id": "8a12bb4d-d77a-466b-ac20-851d770c34c0",
              "name": "file_type",
              "value": "={{ $('Obtener_Info_entrada').item.json.file_type }}",
              "type": "string"
            },
            {
              "id": "664d94bf-9a93-472e-8d11-887f1f82af70",
              "name": "phone_number",
              "value": "={{ $('Obtener_Info_entrada').item.json.phone_number }}",
              "type": "string"
            },
            {
              "id": "31829d53-6dc4-4a0a-829f-6a203803d8ee",
              "name": "user_name",
              "value": "={{ $('Obtener_Info_entrada').item.json.user_name }}",
              "type": "string"
            },
            {
              "id": "1ca7bf91-1d72-4995-a578-12c0aa68da8e",
              "name": "image_url",
              "value": "={{ $('Obtener_Info_entrada').item.json.image_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3408,
        1584
      ],
      "id": "387910ea-9e6d-4044-ad1c-d9affad445fd",
      "name": "Obtener_Info_basica",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        2416
      ],
      "id": "e3be4a47-598d-4535-9916-1a25ca868382",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5120,
        1696
      ],
      "id": "ec776d09-c66b-416d-b8e8-518c61684dbf",
      "name": "Entrar_ChattWoot",
      "webhookId": "947db62d-f02e-4e7e-bb94-7b3073131e00"
    },
    {
      "parameters": {
        "toolDescription": "Registra un lead/cita en Odoo con todos los datos del paciente. Úsala solo cuando el usuario confirme todo.",
        "method": "POST",
        "url": "https://jumpjibe.com/chat-bot-unisa/capturar_lead_http",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cedula",
              "value": "={{ $json.tool_input?.cedula || $json.cedula || $json.datos_paciente?.cedula || '' }}"
            },
            {
              "name": "telefono",
              "value": "={{ $json.tool_input?.telefono || $json.telefono || $json.datos_paciente?.telefono || '' }}"
            },
            {
              "name": "nombre_completo",
              "value": "={{ $json.tool_input?.nombre_completo || $json.tool_input?.nombre || $json.datos_paciente?.nombre || '' }}"
            },
            {
              "name": "fecha_nacimiento",
              "value": "={{ $json.tool_input?.fecha_nacimiento || $json.datos_paciente?.fecha_nacimiento || '' }}"
            },
            {
              "name": "plataforma",
              "value": "={{ $json.tool_input?.plataforma || $json.platform || 'whatsapp' }}"
            },
            {
              "name": "fecha_preferida",
              "value": "={{ $json.tool_input?.fecha_preferida || $json.datos_paciente?.fecha_cita || '' }}"
            },
            {
              "name": "hora_preferida",
              "value": "={{ $json.tool_input?.hora_preferida || $json.datos_paciente?.hora_cita || '' }}"
            },
            {
              "name": "servicio",
              "value": "={{ $json.tool_input?.servicio || $json.datos_paciente?.servicio || '' }}"
            },
            {
              "name": "medio_pago",
              "value": "={{ $json.tool_input?.medio_pago || $json.datos_paciente?.medio_pago || '' }}"
            },
            {
              "name": "paciente_nuevo",
              "value": "={{ $json.tool_input?.paciente_nuevo || $json.datos_paciente?.paciente_nuevo || '' }}"
            },
            {
              "name": "membresia_interes",
              "value": "={{ $json.tool_input?.membresia_interes || $json.datos_paciente?.membresia_interes || '' }}"
            },
            {
              "name": "foto_cedula_url",
              "value": "={{ $json.tool_input?.foto_cedula_url || $json.datos_paciente?.foto_cedula || '' }}"
            },
            {
              "name": "imagenes_adicionales",
              "value": "={{ $json.tool_input?.imagenes_adicionales || (Array.isArray($json.datos_paciente?.imagenes_adicionales) ? $json.datos_paciente.imagenes_adicionales.join(',') : '') }}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.tool_input?.session_id || $json.session_id || ''}}"
            },
            {
              "name": "=equipo_asignado",
              "value": "={{ $json.tool_input?.equipo_asignado || $json.equipo_asignado || ''}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        384,
        2400
      ],
      "id": "f654b9c0-9006-4679-b2fd-82e8dbe1e64b",
      "name": "capturar_lead_http"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1232,
        2768
      ],
      "id": "1af19c10-6db9-45e5-8f7b-f9660ba804d6",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b9b41b4-ef98-4699-80eb-24e70dbee117",
              "name": "=text",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "0f98afd1-e2e6-4c4d-9e9f-6e38c87694c6",
              "name": "session_id",
              "value": "={{ $json.body.conversation.contact_inbox.source_id }}",
              "type": "string"
            },
            {
              "id": "9cbd2d29-4e32-46fd-bbea-88317ec7681d",
              "name": "account_id",
              "value": "={{ $json.body.conversation.messages[0].account_id }}",
              "type": "string"
            },
            {
              "id": "ddcd14fb-bfd1-4f23-a0e0-7d0fa54e8719",
              "name": "conversation_id",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "9052a8a2-5a39-4b6f-a44f-728e2e7c2c41",
              "name": "message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "c76e6bbf-22cf-4dd8-ae67-49c5801c5be1",
              "name": "user_name",
              "value": "={{ $json.body.sender.account.name }}",
              "type": "string"
            },
            {
              "id": "b16fbd53-b6a3-4e0b-ac12-01912379a2fc",
              "name": "user_number",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "327aa426-279e-4d47-b4a9-2910e9b62282",
              "name": "platform",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "f921da3f-2311-4646-a2c9-152401811c3f",
              "name": "message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "12bb3da8-0d23-45ec-8ed8-a962d512d0fb",
              "name": "channel",
              "value": "={{ $json.body.conversation.channel }}",
              "type": "string"
            },
            {
              "id": "e70d5c0a-a243-4625-af3e-c40ca295cdef",
              "name": "content",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "8a12bb4d-d77a-466b-ac20-851d770c34c0",
              "name": "file_type",
              "value": "={{ $json.body.conversation.messages[0].attachments?.[0]?.file_type || null }}",
              "type": "string"
            },
            {
              "id": "664d94bf-9a93-472e-8d11-887f1f82af70",
              "name": "phone_number",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "31829d53-6dc4-4a0a-829f-6a203803d8ee",
              "name": "user_name",
              "value": "={{ $json.body.sender.account.name }}",
              "type": "string"
            },
            {
              "id": "1ca7bf91-1d72-4995-a578-12c0aa68da8e",
              "name": "image_url",
              "value": "={{ $json.body.attachments && $json.body.attachments[0] && $json.body.attachments[0].data_url ? $json.body.attachments[0].data_url : '' }}",
              "type": "string"
            },
            {
              "id": "9741fd66-6a23-47b2-a5b1-0acb8401af6b",
              "name": "agente_desactivado",
              "value": "={{ $json.body.conversation.labels[0]=='agente_desactivado'?'off':'on' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4784,
        1808
      ],
      "id": "8d630268-229d-442b-9cbc-af967f9c3bad",
      "name": "Obtener_Info_entrada"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1fac10cf-62ad-4d48-917c-ce678f3f8730"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "20031916-d51a-4dec-87e5-7cfb1f1676b1",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c55a1d2-99e6-4f3c-98a4-673bcd1ff511",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bf446674-73bd-4b98-a7de-b49866320e7f",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "instagram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -752,
        1296
      ],
      "id": "198ec578-69df-4c97-a26f-76f4b74cfa42",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// ROUTER SIMPLIFICADO - SOLO MENÚ CON ESTADO\n// UNISA (n8n)\n// =============================================\n\ntry {\n  const datosEntrada = $json || {};\n  const text = (datosEntrada.text || \"\").toString();\n\n  // Normalización más completa\n  const textLower = text\n    .toLowerCase()\n    .trim()\n    .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\") // Elimina acentos\n    .replace(/[^\\w\\s]/gi, \" \") // Reemplaza caracteres especiales por espacio\n    .replace(/\\s+/g, \" \"); // Unifica espacios múltiples\n\n  const session_id = datosEntrada.session_id || \"\";\n  const conversation_id = datosEntrada.conversation_id || \"\";\n  const account_id = datosEntrada.account_id || \"\";\n  const platform = datosEntrada.platform || \"\";\n  const image_url = datosEntrada.image_url || \"\";\n  \n  // OBTENER ESTADO ANTERIOR\n  let estado_anterior = {};\n  if (datosEntrada.estado_actual) {\n    if (typeof datosEntrada.estado_actual === 'string') {\n      try {\n        estado_anterior = JSON.parse(datosEntrada.estado_actual);\n      } catch (e) {\n        console.error(\"Error parseando estado_actual:\", e);\n      }\n    } else {\n      estado_anterior = datosEntrada.estado_actual;\n    }\n  }\n\n  // VARIABLES DE CONTROL\n  let contexto = \"no_entendido\";\n  let respuesta = \"\";\n  let modo = estado_anterior.modo || \"MENU_PRINCIPAL\";\n  let paso = estado_anterior.paso || \"INICIO\";\n  \n  // Datos del paciente\n  let datos_paciente = estado_anterior.datos_paciente || {};\n  \n  // Inicializar campos de seguimiento\n  if (!datos_paciente.equipo_asignado) {\n    datos_paciente.equipo_asignado = null;\n  }\n  if (!datos_paciente.requiere_seguimiento) {\n    datos_paciente.requiere_seguimiento = false;\n  }\n\n  // ================= FUNCIÓN DE BÚSQUEDA FLEXIBLE =================\n  const contienePalabra = (texto, palabras) => {\n    const palabrasArray = palabras.split(\",\").map(p => p.trim());\n    return palabrasArray.some(palabra => \n      texto.includes(palabra) || \n      new RegExp(`\\\\b${palabra}\\\\b`).test(texto)\n    );\n  };\n\n  // ================= DETECCIÓN DE SÍ/NO =================\n  const esAfirmativo = (texto) => {\n    const afirmaciones = [\"si\", \"sí\", \"s\", \"yes\", \"ye\", \"y\", \"claro\", \"por supuesto\", \"ok\", \"vale\", \"de acuerdo\", \"confirmo\"];\n    return afirmaciones.some(af => texto === af || new RegExp(`\\\\b${af}\\\\b`).test(texto));\n  };\n\n  const esNegativo = (texto) => {\n    const negaciones = [\"no\", \"n\", \"negativo\", \"cancelar\", \"ahora no\", \"mas tarde\", \"despues\"];\n    return negaciones.some(neg => texto === neg || new RegExp(`\\\\b${neg}\\\\b`).test(texto));\n  };\n\n  // ================= LÓGICA SIMPLIFICADA DE ESTADO =================\n  \n  // 1. SI ESTAMOS EN UN PASO QUE ESPERA RESPUESTA SÍ/NO\n  if ((paso === \"MOSTRANDO_PRECIOS\" || paso === \"MOSTRANDO_SERVICIOS\" || paso === \"MOSTRANDO_TARJETAS\" || paso === \"MOSTRANDO_OTRA_CONSULTA\") && \n      (esAfirmativo(textLower) || esNegativo(textLower))) {\n    \n    // Si dice SÍ en precios\n    if (esAfirmativo(textLower) && paso === \"MOSTRANDO_PRECIOS\") {\n      contexto = \"derivar_agendamiento\";\n      datos_paciente.equipo_asignado = \"Agendamiento_Precios\";\n      datos_paciente.requiere_seguimiento = true;\n      modo = \"AGENDANDO_CITA\";\n      paso = \"SOLICITAR_TELEFONO\";\n      respuesta = \"📅 **Perfecto, vamos a agendar tu cita médica.**\\n\\n\" +\n                  \"Te acompañaré paso a paso para registrar tu solicitud. \" +\n                  \"He asignado tu caso al equipo de **Agendamiento**.\" +\n                  \"\\n\\nPor favor, proporciona tu número de teléfono en formato internacional (ejemplo: +584141234567).\";\n    }\n    // Si dice SÍ en servicios\n    else if (esAfirmativo(textLower) && paso === \"MOSTRANDO_SERVICIOS\") {\n      contexto = \"derivar_agendamiento\";\n      datos_paciente.equipo_asignado = \"Agendamiento_Servicios\";\n      datos_paciente.requiere_seguimiento = true;\n      modo = \"AGENDANDO_CITA\";\n      paso = \"SOLICITAR_TELEFONO\";\n      respuesta = \"📅 **Perfecto, vamos a agendar tu cita médica.**\\n\\n\" +\n                  \"Te acompañaré paso a paso para registrar tu solicitud. \" +\n                  \"He asignado tu caso al equipo de **Agendamiento**.\" +\n                  \"\\n\\nPor favor, proporciona tu número de teléfono en formato internacional (ejemplo: +584141234567).\";\n    }\n    // Si dice SÍ en tarjetas - AHORA COMPORTAMIENTO IGUAL QUE PRECIOS Y SERVICIOS\n    else if (esAfirmativo(textLower) && paso === \"MOSTRANDO_TARJETAS\") {\n      contexto = \"derivar_agendamiento\";\n      datos_paciente.equipo_asignado = \"Agendamiento_Tarjeta\";\n      datos_paciente.requiere_seguimiento = true;\n      modo = \"AGENDANDO_CITA\";\n      paso = \"SOLICITAR_TELEFONO\";\n      respuesta = \"📅 **Perfecto, vamos a agendar tu cita médica.**\\n\\n\" +\n                  \"Te acompañaré paso a paso para registrar tu solicitud. \" +\n                  \"He asignado tu caso al equipo de **Agendamiento**.\" +\n                  \"\\n\\nPor favor, proporciona tu número de teléfono en formato internacional (ejemplo: +584141234567).\";\n    }\n    // Si dice SÍ en otra consulta\n    else if (esAfirmativo(textLower) && paso === \"MOSTRANDO_OTRA_CONSULTA\") {\n      contexto = \"derivar_agendamiento\";\n      datos_paciente.equipo_asignado = \"Agendamiento_Otra_Consulta\";\n      datos_paciente.requiere_seguimiento = true;\n      modo = \"AGENDANDO_CITA\";\n      paso = \"SOLICITAR_TELEFONO\";\n      respuesta = \"📅 **Perfecto, vamos a agendar tu cita médica.**\\n\\n\" +\n                  \"Te acompañaré paso a paso para registrar tu solicitud. \" +\n                  \"He asignado tu caso al equipo de **Agendamiento**.\" +\n                  \"\\n\\nPor favor, proporciona tu número de teléfono en formato internacional (ejemplo: +584141234567).\";\n    }\n    // Si dice NO en cualquier caso\n    else if (esNegativo(textLower)) {\n      contexto = \"menu_principal\";\n      modo = \"MENU_PRINCIPAL\";\n      paso = \"INICIO\";\n      datos_paciente.equipo_asignado = null;\n      datos_paciente.requiere_seguimiento = false;\n      respuesta = \"👋 **Entendido.**\\n\\n\" +\n                  \"Recuerda que estoy aquí para ayudarte cuando lo necesites.\\n\\n\" +\n                  \"💲 **Precios**\\n\" +\n                  \"🩺 **Servicios médicos**\\n\" +\n                  \"📅 **Agendar cita**\\n\" +\n                  \"💙 **Tarjeta UNISA / CrediUNISA**\\n\" +\n                  \"❓ **Otra consulta**\\n\\n\" +\n                  \"Indica la opción que deseas 👇\";\n    }\n  }\n  // 2. MENÚ PRINCIPAL\n  else if (\n    textLower === \"\" ||\n    contienePalabra(textLower, \"hola,holaa,hi,hello,inicio,menu,menú,start,comenzar,volver,regresar\")\n  ) {\n    contexto = \"menu_principal\";\n    modo = \"MENU_PRINCIPAL\";\n    paso = \"INICIO\";\n    datos_paciente.equipo_asignado = null;\n    datos_paciente.requiere_seguimiento = false;\n    respuesta =\n      \"👋 **¡Bienvenido/a a UNISA, tu Unidad de Salud Integral!**\\n\\n\" +\n      \"Estoy aquí para ayudarte. Puedes escribirme directamente:\\n\\n\" +\n      \"💲 **Precios**\\n\" +\n      \"🩺 **Servicios que ofrecemos**\\n\" +\n      \"📅 **Agendar cita / laboratorio / estudios  **\\n\" +\n      \"💙 **Tarjeta de la Salud o CREDIUNISA  **\\n\\n\" +\n      \"❓ **Otra consulta**\\n\\n\" +\n      \"Indica la opción que deseas 👇\";\n  }\n  // 3. PRECIOS\n  else if (\n    contienePalabra(textLower, \"precio,precios,costo,costos,tarifa,tarifas,valor,cuanto cuesta,1\") ||\n    textLower === \"1\"\n  ) {\n    contexto = \"mostrar_precios\";\n    modo = \"MENU_PRINCIPAL\";\n    paso = \"MOSTRANDO_PRECIOS\";\n    datos_paciente.equipo_asignado = null;\n    datos_paciente.requiere_seguimiento = false;\n    respuesta =\n      \"💲 **Tarifas de atención – UNISA** *(referenciales)*\\n\\n\" +\n      \"• Consulta médica general → 25 USD\\n\" +\n      \"• Rayos X (cualquier proyección) → 10 USD\\n\" +\n      \"• Mamografía sin implantes → 20 USD\\n\" +\n      \"• Mamografía con implantes → 30 USD\\n\\n\" +\n      \"**¿Deseas agendar una cita con estos precios?**\\n\" +\n      \"Responde *Sí* para agendar o *No* para continuar.\";\n  }\n  // 4. SERVICIOS\n  else if (\n    contienePalabra(textLower, \"servicio,servicios,medico,medicos,especialidad,especialidades,2\") ||\n    textLower.includes(\"servicio medico\") ||\n    textLower.includes(\"servicios medicos\") ||\n    textLower === \"2\"\n  ) {\n    contexto = \"mostrar_servicios\";\n    modo = \"MENU_PRINCIPAL\";\n    paso = \"MOSTRANDO_SERVICIOS\";\n    datos_paciente.equipo_asignado = null;\n    datos_paciente.requiere_seguimiento = false;\n    respuesta =\n      \"🩺 **Especialidades disponibles en UNISA**\\n\\n\" +\n      \"• Consultas médicas generales y de especialidades\\n\" +\n      \"• Laboratorio clínico\\n\" +\n      \"• Rayos X digital\\n\" +\n      \"• Ecografías (general, obstétrica, doppler, etc.)\\n\" +\n      \"• Mamografías\\n\" +\n      \"• Densitometría ósea\\n\" +\n      \"• Electrocardiograma y ecocardiograma\\n\" +\n      \"• Espirometría\\n\" +\n      \"• Holter de presión y ritmo\\n\" +\n      \"• Área de Atención Primaria Médica 24/7 (nebulizaciones, curaciones, suturas, yesos, etc.)\\n\\n\" +\n      \"**¿Te gustaría agendar una cita en alguna de estas especialidades?**\\n\" +\n      \"Responde *Sí* para agendar o *No* para continuar.\";\n  }\n  // 5. TARJETAS\n  else if (\n    contienePalabra(textLower, \"tarjeta,tarjetas,credito,financiamiento,descuento,crediunisa,4\") ||\n    textLower.includes(\"tarjeta unisa\") ||\n    textLower.includes(\"credi unisa\") ||\n    textLower === \"4\"\n  ) {\n    contexto = \"mostrar_tarjetas\";\n    modo = \"MENU_PRINCIPAL\";\n    paso = \"MOSTRANDO_TARJETAS\";\n    datos_paciente.equipo_asignado = null;\n    datos_paciente.requiere_seguimiento = false;\n    respuesta =\n      \"💙 **TARJETA DE LA SALUD / CrediUNISA**\\n\\n\" +\n      \"• ¡Excelente decisión! Con la TARJETA DE LA SALUD obtienes: hasta 30% de descuento en todos los servicios, 1 consulta gratuita al año y vigencia de 12 meses. Costo total: 80 USD → pagas 20 USD al afiliarte + 6 cuotas de 10 USD.\\n\" +\n      \"• Puedes incluir hasta 5 personas (titular + 4 familiares). Más de 5 personas → solo 10 USD adicional por persona (pago único).\\n\" +\n      \"• Además, puedes activar CREDIUNISA: te otorgamos 100 USD de crédito inmediato y lo cancelas en 6 cuotas cómodas. ¿Deseas que te ayudemos con la afiliación ahora? 😊\\n\\n\" +\n      \"**¿Deseas que uno de nuestros asesores se comunique contigo para más información?**\\n\" +\n      \"Responde *Sí* para contactarte o *No* para continuar.\";\n  }\n  // 6. AGENDAR CITA DIRECTO\n  else if (\n    textLower === \"cita\" ||\n    textLower === \"3\" ||\n    contienePalabra(textLower, \"agendar,reservar,programar,solicitar,pedir\") ||\n    textLower.includes(\"agendar cita\") ||\n    textLower.includes(\"reservar cita\") ||\n    textLower.includes(\"quiero una cita\") ||\n    textLower.includes(\"necesito una cita\") ||\n    textLower.includes(\"solicitar cita\") ||\n    (textLower.includes(\"cita\") && !textLower.includes(\"tarjeta\"))\n  ) {\n    contexto = \"derivar_agendamiento\";\n    datos_paciente.equipo_asignado = \"Agendamiento_Directo\";\n    datos_paciente.requiere_seguimiento = true;\n    modo = \"AGENDANDO_CITA\";\n    paso = \"SOLICITAR_TELEFONO\";\n    respuesta = \"📅 **Perfecto, vamos a agendar tu cita médica.**\\n\\n\" +\n                \"Te acompañaré paso a paso para registrar tu solicitud. \" +\n                \"He asignado tu caso al equipo de **Agendamiento**.\" +\n                \"\\n\\nPor favor, proporciona tu número de teléfono en formato internacional (ejemplo: +584141234567).\";\n  }\n  // 7. OTRA CONSULTA\n  else if (\n    contienePalabra(textLower, \"otra consulta,otra,consulta,5,duda,pregunta,informacion\") ||\n    textLower === \"5\"\n  ) {\n    contexto = \"mostrar_otra_consulta\";\n    modo = \"MENU_PRINCIPAL\";\n    paso = \"MOSTRANDO_OTRA_CONSULTA\";\n    datos_paciente.equipo_asignado = null;\n    datos_paciente.requiere_seguimiento = false;\n    respuesta =\n      \"❓ **Otra consulta**\\n\\n\" +\n      \"Si tienes una consulta específica que no está cubierta en las opciones anteriores, nuestro equipo de asesores puede ayudarte personalmente.\\n\\n\" +\n      \"**¿Deseas que un asesor se comunique contigo para resolver tu consulta?**\\n\" +\n      \"Responde *Sí* para contactarte o *No* para continuar.\";\n  }\n  // 8. NO ENTENDIDO\n  else {\n    contexto = \"no_entendido\";\n    modo = \"MENU_PRINCIPAL\";\n    paso = \"INICIO\";\n    datos_paciente.equipo_asignado = null;\n    datos_paciente.requiere_seguimiento = false;\n    respuesta =\n      \"👋 **¡Bienvenido/a a UNISA, tu Unidad de Salud Integral!**\\n\\n\" +\n      \"Estoy aquí para ayudarte. Puedes escribirme directamente:\\n\\n\" +\n      \"**Precios**\\n\"+\n      \"🩺 **Servicios que ofrecemos**\\n\"+\n      \"📅 **Agendar cita / laboratorio / estudios**\\n\"+\n      \"💙 **Tarjeta de la Salud o CREDIUNISA**\\n\\n\" +\n      \"❓ **Otra consulta**\\n\\n\"+\n      \"Indica la opción que deseas 👇\";\n  }\n\n  // ================= PREPARAR ESTADO ACTUAL =================\n  const timestamp = new Date().toISOString();\n  \n  const estado_nuevo = {\n    modo: modo,\n    paso: paso,\n    datos_paciente: datos_paciente,\n    timestamp: timestamp\n  };\n\n  // ================= SALIDA =================\n  return [\n    {\n      account_id,\n      conversation_id,\n      contexto: contexto,\n      estado_actual: estado_nuevo,\n      user_message: text,\n      session_id: session_id,\n      platform: platform,\n      equipo_asignado: datos_paciente.equipo_asignado || null,\n      requiere_seguimiento: datos_paciente.requiere_seguimiento || false,\n      modo_actual: modo,\n      paso_actual: paso,\n      respuesta: respuesta,\n      datos_paciente: datos_paciente,\n      debug_timestamp: timestamp\n    }\n  ];\n\n} catch (error) {\n  console.error(\"Error en el router:\", error);\n\n  const timestamp = new Date().toISOString();\n  const estado_json = {\n    modo: \"MENU_PRINCIPAL\",\n    paso: \"INICIO\",\n    datos_paciente: {\n      equipo_asignado: null,\n      requiere_seguimiento: false\n    },\n    timestamp: timestamp\n  };\n\n  return [\n    {\n      \n      contexto: \"error\",\n      estado_actual: estado_json,\n      respuesta: \"⚠️ Ocurrió un inconveniente técnico. Por favor, intenta nuevamente.\",\n      equipo_asignado: null,\n      requiere_seguimiento: false,\n      datos_paciente: {\n        equipo_asignado: null,\n        requiere_seguimiento: false\n      }\n    }\n  ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        1744
      ],
      "id": "f5544d0d-5fa8-42a9-8e5a-bf03c56ed257",
      "name": "respuestas_estaticas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jumpjibe.com/api/session/guardar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"estado\": {\n    \"modo\": \"{{ $json.modo_actual }}\",\n    \"paso\": \"{{ $json.paso_actual }}\",\n    \"datos_paciente\":{{ JSON.stringify($json.datos_paciente)  }},\n    \"timestamp\": \"{{ $json.debug_timestamp }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1456,
        1840
      ],
      "id": "e9c46a40-53b6-48fc-be03-ca5ff2e536f6",
      "name": "Guardar_pasos1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Obtener los elementos\nconst items = $input.all();\n\n// El primer elemento es el output del agente\nconst agentOutput = items[0]?.json?.output || '';\n\n// El segundo elemento son los metadatos\nconst metadata = items[1]?.json || {};\n\n// Determinar el mensaje final\nconst output = agentOutput || metadata.respuesta_directa || \"⚠️ No se pudo generar una respuesta válida.\";\n\n// Construir respuesta\nreturn [\n  {\n    id: metadata.message_id || null,\n    content: output,\n    respuesta: output,\n    inbox_id: metadata.inbox_id || 6,\n    conversation_id: metadata.conversation_id || \"7\",\n    platform: metadata.platform || \"whatsapp\",\n    account_id: metadata.account_id || \"1\",\n    message_type: 1,\n    content_type: \"text\",\n    status: \"sent\",\n    content_attributes: {},\n    created_at: Math.floor(Date.now() / 1000),\n    private: false,\n    source_id: null,\n    sender: {\n      id: 3,\n      name: \"n8nComunicarConBot\",\n      avatar_url: \"\",\n      type: \"agent_bot\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        3088
      ],
      "id": "799febf0-7ec3-4388-80fc-796401e9559e",
      "name": "IA_salida_mas_variables"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -336,
        1056
      ],
      "id": "616b82e7-1e11-434d-8b3e-ac05c7b9a94e",
      "name": "Combinar_dos_nodos"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1232,
        1728
      ],
      "id": "c7d5dd3f-f87e-4f04-b479-0952c0123feb",
      "name": "Merge_respuesta_estatica_Primera_vez_invocar_cita"
    },
    {
      "parameters": {
        "jsCode": "// =============================================\n// ROUTER COMPLETO PARA AGENDAMIENTO DE CITAS - UNISA\n// VERSIÓN COMPLETA CON TODOS LOS PASOS Y HERRAMIENTAS\n// =============================================\n\ntry {\n   // =============================================\n  // TIMEOUT DE INACTIVIDAD\n  // =============================================\n  const TIEMPO_MAX_INACTIVIDAD_MS = 1 * 60 * 1000; // 5 minutos\n  \n  // =============================================\n  // 1. OBTENER DATOS DE ENTRADA\n  // =============================================\n  let datosEntrada = $json || {};\n  if (Array.isArray(datosEntrada)) {\n    datosEntrada = datosEntrada[0] || {};\n  }\n\n  const text = (datosEntrada.text || \"\").toString();\n  const textLower = text.toLowerCase().trim();\n  const session_id = datosEntrada.session_id || \"\";\n  const conversation_id = datosEntrada.conversation_id || \"\";\n  const account_id = datosEntrada.account_id || \"\";\n  const platform = datosEntrada.platform || \"\";\n  const image_url = datosEntrada.image_url || \"\";\n\n  // =============================================\n  // 2. PARSEAR ESTADO ANTERIOR\n  // =============================================\n  let estado_anterior = {};\n  if (datosEntrada.estado_actual) {\n    try {\n      estado_anterior =\n        typeof datosEntrada.estado_actual === \"string\"\n          ? JSON.parse(datosEntrada.estado_actual)\n          : datosEntrada.estado_actual;\n    } catch {\n      estado_anterior = {};\n    }\n  }\n\n  // =============================================\n  // FUNCIÓN DE INACTIVIDAD (ANTES DE USARSE)\n  // =============================================\n  function hayInactividad(timestampActividad) {\n    if (!timestampActividad) return false;\n    const ahora = Date.now();\n    const ultimoEvento = new Date(timestampActividad).getTime();\n    return ahora - ultimoEvento > TIEMPO_MAX_INACTIVIDAD_MS;\n  }\n\n  // =============================================\n  // 3. VARIABLES DE CONTROL\n  // =============================================\n  let contexto = \"no_entendido\";\n  let respuesta = \"\";\n  let modo = estado_anterior.modo || null;\n  let paso = estado_anterior.paso || \"INICIO\";\n\n  // Variables para herramientas\n  let usar_herramienta = false;\n  let herramienta_nombre = \"\";\n  let herramienta_parametros = {};\n\n  // =============================================\n  // 4. MERGE SEGURO DE DATOS_PACIENTE\n  // =============================================\n  let datos_paciente = {};\n\n  if (estado_anterior.datos_paciente) {\n    datos_paciente =\n      typeof estado_anterior.datos_paciente === \"string\"\n        ? JSON.parse(estado_anterior.datos_paciente)\n        : estado_anterior.datos_paciente;\n  }\n\n  datos_paciente = JSON.parse(JSON.stringify(datos_paciente));\n\n  // 🔴 MODIFICACIÓN CRÍTICA: TIMESTAMP DE ACTIVIDAD\n  let timestamp_actividad = estado_anterior.timestamp_actividad || null;\n\n  // =============================================\n  // 🔴 MODIFICACIÓN #1: FUNCIÓN PARA ACTUALIZAR TIMESTAMP\n  // =============================================\n  function actualizarTimestampActividad() {\n    timestamp_actividad = new Date().toISOString();\n  }\n\n  // =============================================\n  // 🔴 MODIFICACIÓN #2: VERIFICAR INACTIVIDAD PRIMERO\n  // =============================================\n  if (modo === \"AGENDANDO_CITA\" && hayInactividad(timestamp_actividad)) {\n    const estado_cancelado = {\n      modo: null,\n      paso: \"INICIO\",\n      datos_paciente: {},\n      timestamp: new Date().toISOString(),\n      timestamp_actividad: new Date().toISOString()\n    };\n\n    return [{\n      contexto: \"cancelacion_inactividad\",\n      estado_actual: JSON.stringify(estado_cancelado),\n      respuesta_directa:\n        \"⏳ **Agendamiento cancelado por inactividad**\\n\\n\" +\n        \"No recibimos respuesta durante más de 5 minutos, por lo que tu solicitud de cita fue cancelada automáticamente.\\n\\n\" +\n        \"📝 Si deseas agendar una nueva cita, escribe *agendar cita*.\\n\\n\" +\n        \"Gracias por contactar a UNISA ❤️\",\n      modo_actual: null,\n      paso_actual: \"INICIO\",\n      datos_paciente: {},\n      usar_herramienta: false\n    }];\n  }\n\n  // =============================================\n  // 🔴 MODIFICACIÓN #3: ACTUALIZAR TIMESTAMP EN TODAS LAS INTERACCIONES\n  // =============================================\n  if (modo === \"AGENDANDO_CITA\") {\n    actualizarTimestampActividad();\n  }\n\n  // =============================================\n  // 5. FUNCIONES AUXILIARES\n  // =============================================\n  const normalizarTelefono = tel => {\n    if (!tel) return null;\n    const limpio = tel.replace(/\\D/g, \"\");\n    if (limpio.length === 10) return `+58${limpio}`;\n    if (limpio.startsWith(\"58\")) return `+${limpio}`;\n    return null;\n  };\n\n  const validarCedula = c =>\n    /^\\d{7,9}$/.test((c || \"\").replace(/\\D/g, \"\"));\n\n  const validarFecha = f => {\n    const r = /^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/;\n    if (!r.test(f)) return false;\n    const [, d, m, y] = f.match(r);\n    return !isNaN(new Date(`${y}-${m}-${d}`));\n  };\n\n  const validarNombre = n =>\n    /^[a-zA-ZáéíóúÁÉÍÓÚñÑ\\s]{3,}$/.test((n || \"\").trim());\n\n  // Función para generar resumen\n  function generarResumen() {\n    return `✅ **RESUMEN DE TU SOLICITUD DE CITA**\\n\\n` +\n      `👤 **DATOS PERSONALES**\\n` +\n      `• Nombre: ${datos_paciente.nombre || \"No proporcionado\"}\\n` +\n      `• Cédula: ${datos_paciente.cedula || \"No proporcionada\"}\\n` +\n      `• Teléfono: ${datos_paciente.telefono || \"No proporcionado\"}\\n` +\n      `• Fecha nacimiento: ${datos_paciente.fecha_nacimiento || \"No proporcionada\"}\\n` +\n      `• Paciente nuevo: ${datos_paciente.paciente_nuevo || \"No especificado\"}\\n\\n` +\n      `📅 **DATOS DE LA CITA**\\n` +\n      `• Servicio: ${datos_paciente.servicio || \"No especificado\"}\\n` +\n      `• Fecha deseada: ${datos_paciente.fecha_cita || \"No especificada\"}\\n` +\n      `• Horario preferido: ${datos_paciente.hora_cita || \"No especificado\"}\\n` +\n      `• Medio de pago: ${datos_paciente.medio_pago || \"No especificado\"}\\n` +\n      `• Interés en membresía: ${datos_paciente.membresia_interes || \"No especificado\"}\\n\\n` +\n      `📎 **DOCUMENTACIÓN**\\n` +\n      `• Foto de cédula: ${datos_paciente.foto_cedula ? (datos_paciente.foto_cedula === \"NO\" ? \"❌ No enviada\" : (datos_paciente.foto_cedula === \"CANCELADA\" ? \"❌ Cancelada\" : \"✅ Enviada\")) : \"❌ No enviada\"}\\n` +\n      `• Documentos adicionales: ${datos_paciente.imagenes_adicionales && datos_paciente.imagenes_adicionales.length > 0 ? `✅ ${datos_paciente.imagenes_adicionales.length} enviada(s)` : '❌ No enviados'}\\n\\n` +\n      `🔹 **Para confirmar y agendar escribe:** *CONFIRMAR*\\n` +\n      `🔹 **Para modificar algún dato escribe:** *MODIFICAR*\\n` +\n      `🔹 **Para cancelar escribe:** *CANCELAR*`;\n  }\n\n  // =============================================\n  // 6. CANCELAR GLOBAL\n  // =============================================\n  if (textLower === \"cancelar\") {\n    const estado_cancelado = {\n      modo: null,\n      paso: null,\n      datos_paciente: {},\n      timestamp: new Date().toISOString(),\n      timestamp_actividad: new Date().toISOString()\n    };\n\n    return [{\n      contexto: \"cancelacion\",\n      estado_actual: JSON.stringify(estado_cancelado),\n      respuesta_directa:\n        \"❌ Agendamiento cancelado.\\n\\nEscribe *agendar cita* para comenzar nuevamente.\",\n      modo_actual: null,\n      paso_actual: \"INICIO\",\n      datos_paciente: {},\n      user_message: text,\n      session_id,\n      conversation_id,\n      account_id,\n      platform,\n      usar_herramienta: false,\n      herramienta_nombre: \"\",\n      herramienta_parametros: \"{}\"\n    }];\n  }\n\n  // =============================================\n  // 7. INICIAR AGENDAMIENTO\n  // =============================================\n  const palabrasClave = [\"agendar\", \"cita\", \"reservar\", \"necesito cita\"];\n  const iniciar = palabrasClave.some(p => textLower === p || textLower.startsWith(p));\n\n  if (iniciar && modo !== \"AGENDANDO_CITA\") {\n    contexto = \"iniciar_agendamiento\";\n    modo = \"AGENDANDO_CITA\";\n    paso = \"SOLICITAR_TELEFONO\";\n    actualizarTimestampActividad(); // 🔴 Actualizar timestamp al iniciar\n    respuesta =\n      \"📅 *Agendar Cita*\\n\\n\" +\n      \"Para comenzar, indícanos tu número de teléfono.\\n\\n\" +\n      \"Ejemplo: +584141234567\\n\\n\" +\n      \"🔹 Escribe *CANCELAR* para salir\";\n  }\n\n  // =============================================\n  // 8. FLUJO AGENDAMIENTO COMPLETO\n  // =============================================\n  else if (modo === \"AGENDANDO_CITA\") {\n    contexto = \"continuar_agendamiento\";\n    const tel = normalizarTelefono(text);\n    const esTelefonoValido = tel && paso !== \"SOLICITAR_TELEFONO\";\n\n    // PASO: SOLICITAR_TELEFONO\n    if (paso === \"SOLICITAR_TELEFONO\") {\n      if (tel) {\n        datos_paciente.telefono = tel;\n        paso = \"SOLICITAR_NOMBRE\";\n        respuesta =\n          `✅ Teléfono registrado: ${tel}\\n\\n` +\n          \"📋 Indícanos tu nombre completo:\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else {\n        respuesta = \"📞 Formato inválido. Ejemplo: +584141234567\\n\\n🔹 Escribe *CANCELAR* para salir\";\n      }\n    }\n\n    // PASO: SOLICITAR_NOMBRE\n    else if (paso === \"SOLICITAR_NOMBRE\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta =\n          `✅ Teléfono actualizado: ${tel}\\n\\n` +\n          \"📋 Indícanos tu nombre completo:\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else if (validarNombre(text)) {\n        datos_paciente.nombre = text.trim();\n        paso = \"SOLICITAR_CEDULA\";\n        respuesta =\n          `✅ Nombre registrado: ${datos_paciente.nombre}\\n\\n` +\n          \"🆔 Indica tu número de cédula:\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else {\n        respuesta = \"📋 Escribe tu nombre completo (solo letras).\\n\\n🔹 Escribe *CANCELAR* para salir\";\n      }\n    }\n\n    // PASO: SOLICITAR_CEDULA\n    else if (paso === \"SOLICITAR_CEDULA\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta =\n          `✅ Teléfono actualizado: ${tel}\\n\\n` +\n          \"🆔 Indica tu número de cédula (7-9 dígitos):\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else if (validarCedula(text)) {\n        datos_paciente.cedula = text.replace(/\\D/g, \"\");\n        paso = \"SOLICITAR_FECHA_NACIMIENTO\";\n        respuesta =\n          `✅ Cédula registrada: ${datos_paciente.cedula}\\n\\n` +\n          \"🎂 Fecha de nacimiento (dd/mm/aaaa):\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else {\n        respuesta = \"🆔 Cédula inválida. Solo números (7–9 dígitos).\\n\\n🔹 Escribe *CANCELAR* para salir\";\n      }\n    }\n\n    // PASO: SOLICITAR_FECHA_NACIMIENTO\n    else if (paso === \"SOLICITAR_FECHA_NACIMIENTO\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta =\n          `✅ Teléfono actualizado: ${tel}\\n\\n` +\n          \"🎂 Fecha de nacimiento (dd/mm/aaaa):\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else if (validarFecha(text)) {\n        datos_paciente.fecha_nacimiento = text;\n        paso = \"SOLICITAR_PACIENTE_NUEVO\";\n        respuesta = \"🏥 ¿Es tu primera vez en UNISA? (SI / NO)\\n\\n🔹 Escribe *CANCELAR* para salir\";\n      } else {\n        respuesta = \"🎂 Formato inválido. Ejemplo: 15/05/1990\\n\\n🔹 Escribe *CANCELAR* para salir\";\n      }\n    }\n\n    // PASO: SOLICITAR_PACIENTE_NUEVO\n    else if (paso === \"SOLICITAR_PACIENTE_NUEVO\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta =\n          `✅ Teléfono actualizado: ${tel}\\n\\n` +\n          \"🏥 ¿Es tu primera vez en UNISA? (SI / NO)\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else if ([\"si\", \"sí\", \"no\"].includes(textLower)) {\n        datos_paciente.paciente_nuevo = textLower.startsWith(\"s\") ? \"SI\" : \"NO\";\n        paso = \"SOLICITAR_MEDIO_PAGO\";\n        respuesta =\n          \"💳 Indica tu medio de pago:\\n\\n\" +\n          \"• PARTICULAR\\n\" +\n          \"• SEGURO\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else {\n        respuesta = \"Responde SI o NO.\\n\\n🔹 Escribe *CANCELAR* para salir\";\n      }\n    }\n\n    // PASO: SOLICITAR_MEDIO_PAGO\n    else if (paso === \"SOLICITAR_MEDIO_PAGO\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta =\n          `✅ Teléfono actualizado: ${tel}\\n\\n` +\n          \"💳 Indica tu medio de pago:\\n\" +\n          \"• PARTICULAR\\n\" +\n          \"• SEGURO\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else if (textLower.includes(\"particular\")) {\n        datos_paciente.medio_pago = \"Particular\";\n        paso = \"SOLICITAR_SERVICIO\";\n        respuesta = \n          \"🩺 ¿Qué servicio necesitas?\\n\" +\n          \"Por favor, escribe el nombre del servicio que necesitas.\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else if (textLower.includes(\"seguro\")) {\n        datos_paciente.medio_pago = \"Seguro\";\n        paso = \"SOLICITAR_SERVICIO\";\n        respuesta = \n          \"🩺 ¿Qué servicio necesitas?\\n\" +\n          \"Por favor, escribe el nombre del servicio que necesitas.\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else {\n        respuesta = \"💳 Escribe PARTICULAR o SEGURO.\\n\\n🔹 Escribe *CANCELAR* para salir\";\n      }\n    }\n\n    // PASO: SOLICITAR_SERVICIO\n    else if (paso === \"SOLICITAR_SERVICIO\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n         respuesta = \n          \"🩺 ¿Qué servicio necesitas?\\n\" +\n          \"Por favor, escribe el nombre del servicio que necesitas.\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else if (text.trim().length > 0) {\n        datos_paciente.servicio = text;\n        paso = \"SOLICITAR_FECHA_CITA\";\n        // ❌ SE ELIMINÓ: avanzarPaso(\"SOLICITAR_FECHA_CITA\");\n        respuesta =\n          `✅ Servicio registrado: ${datos_paciente.servicio}\\n\\n` +\n          \"📅 ¿Para qué fecha quieres la cita? (dd/mm/aaaa)\\n\\n\" +\n          \"También puedes escribir:\\n\" +\n          \"• LO ANTES POSIBLE\\n\" +\n          \"• ESTA SEMANA\\n\" +\n          \"• PRÓXIMA SEMANA\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else {\n       respuesta = \n          \"🩺 ¿Qué servicio necesitas?\\n\" +\n          \"Por favor, escribe el nombre del servicio que necesitas.\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      }\n    }\n\n    // PASO: SOLICITAR_FECHA_CITA\n    else if (paso === \"SOLICITAR_FECHA_CITA\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta =\n          `✅ Teléfono actualizado: ${tel}\\n\\n` +\n          \"📅 ¿Para qué fecha quieres la cita? (dd/mm/aaaa)\\n\\n\" +\n          \"También puedes escribir:\\n\" +\n          \"• LO ANTES POSIBLE\\n\" +\n          \"• ESTA SEMANA\\n\" +\n          \"• PRÓXIMA SEMANA\\n\\n\" +\n          \"🔹 Escribe *CANCELAR* para salir\";\n      } else {\n        const fechaEspecial = textLower.includes(\"lo antes posible\") || \n                             textLower.includes(\"esta semana\") || \n                             textLower.includes(\"próxima semana\") || \n                             textLower.includes(\"proxima semana\");\n        \n        if (fechaEspecial || validarFecha(text)) {\n          datos_paciente.fecha_cita = text.trim();\n          paso = \"SOLICITAR_HORA_CITA\";\n          // ❌ SE ELIMINÓ: avanzarPaso(\"SOLICITAR_HORA_CITA\");\n          respuesta = `✅ Fecha de cita registrada: ${datos_paciente.fecha_cita}\\n\\n⏰ ¿Prefieres horario de mañana o tarde?\\n\\nEscribe:\\n• MAÑANA\\n• TARDE\\n• CUALQUIERA\\n\\n🔹 Escribe *CANCELAR* para salir`;\n        } else {\n          respuesta = \"📅 Por favor, indica la fecha en formato dd/mm/aaaa o escribe una opción como:\\n• LO ANTES POSIBLE\\n• ESTA SEMANA\\n• PRÓXIMA SEMANA\\n\\n🔹 Escribe *CANCELAR* para salir\";\n        }\n      }\n    }\n\n    // PASO: SOLICITAR_HORA_CITA\n    else if (paso === \"SOLICITAR_HORA_CITA\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta = `✅ Teléfono actualizado: ${tel}\\n\\n⏰ ¿Prefieres horario de mañana o tarde?\\n\\nEscribe:\\n• MAÑANA\\n• TARDE\\n• CUALQUIERA\\n\\n🔹 Escribe *CANCELAR* para salir`;\n      } else {\n        const opcionesHora = {\n          \"mañana\": \"Mañana\",\n          \"manana\": \"Mañana\",\n          \"tarde\": \"Tarde\",\n          \"cualquiera\": \"Cualquiera\"\n        };\n        \n        const horaSeleccionada = opcionesHora[textLower];\n        \n        if (horaSeleccionada) {\n          datos_paciente.hora_cita = horaSeleccionada;\n          paso = \"SOLICITAR_MEMBRESIA\";\n          // ❌ SE ELIMINÓ: avanzarPaso(\"SOLICITAR_MEMBRESIA\");\n          respuesta = `✅ Horario registrado: ${datos_paciente.hora_cita}\\n\\n⭐ ¿Te interesa conocer los beneficios de nuestra membresía UNISA?\\n\\nResponde SI o NO:\\n\\n🔹 Escribe *CANCELAR* para salir`;\n        } else {\n          respuesta = \"⏰ Opción no válida. Escribe:\\n• MAÑANA\\n• TARDE\\n• CUALQUIERA\\n\\n🔹 Escribe *CANCELAR* para salir\";\n        }\n      }\n    }\n\n    // PASO: SOLICITAR_MEMBRESIA\n    else if (paso === \"SOLICITAR_MEMBRESIA\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta = `✅ Teléfono actualizado: ${tel}\\n\\n⭐ ¿Te interesa conocer los beneficios de nuestra membresía UNISA?\\n\\nResponde SI o NO:\\n\\n🔹 Escribe *CANCELAR* para salir`;\n      } else {\n        const respuestaSI = textLower === \"si\" || textLower === \"sí\";\n        const respuestaNO = textLower === \"no\";\n        \n        if (respuestaSI) {\n          datos_paciente.membresia_interes = \"SI\";\n          paso = \"SOLICITAR_FOTO_CEDULA\";\n          // ❌ SE ELIMINÓ: avanzarPaso(\"SOLICITAR_FOTO_CEDULA\");\n          respuesta = `✅ Nos contactaremos contigo sobre la membresía\\n\\n📸 ¿Deseas enviar una foto de tu cédula ahora?\\n\\nResponde SI o NO:\\n(Si respondes SI, podrás enviar la imagen en el siguiente mensaje)\\n\\n🔹 Escribe *CANCELAR* para salir`;\n        } else if (respuestaNO) {\n          datos_paciente.membresia_interes = \"NO\";\n          paso = \"SOLICITAR_FOTO_CEDULA\";\n          respuesta = `✅ Continuaremos sin información de membresía\\n\\n📸 ¿Deseas enviar una foto de tu cédula ahora?\\n\\nResponde SI o NO:\\n(Si respondes SI, podrás enviar la imagen en el siguiente mensaje)\\n\\n🔹 Escribe *CANCELAR* para salir`;\n        } else {\n          respuesta = \"⭐ Por favor, responde SI o NO:\\n\\n¿Te interesa conocer los beneficios de la membresía?\\n\\n🔹 Escribe *CANCELAR* para salir\";\n        }\n      }\n    }\n\n    // PASO: SOLICITAR_FOTO_CEDULA\n    else if (paso === \"SOLICITAR_FOTO_CEDULA\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta = `✅ Teléfono actualizado: ${tel}\\n\\n📸 ¿Deseas enviar una foto de tu cédula ahora?\\n\\nResponde SI o NO:\\n(Si respondes SI, podrás enviar la imagen en el siguiente mensaje)\\n\\n🔹 Escribe *CANCELAR* para salir`;\n      } else {\n        const respuestaSI = textLower === \"si\" || textLower === \"sí\";\n        const respuestaNO = textLower === \"no\";\n        \n        if (respuestaSI) {\n          paso = \"ESPERANDO_FOTO_CEDULA\";\n          respuesta = \"📷 Por favor, envía la foto de tu cédula ahora.\\n\\nAsegúrate de que sea clara y legible.\\n\\n🔹 Escribe *CANCELAR* para continuar sin foto de cédula\";\n        } else if (respuestaNO) {\n          datos_paciente.foto_cedula = \"NO\";\n          paso = \"SOLICITAR_IMAGENES_ADICIONALES\";\n          // ❌ SE ELIMINÓ: avanzarPaso(\"SOLICITAR_IMAGENES_ADICIONALES\");\n          respuesta = \"✅ Continuaremos sin foto de cédula.\\n\\n¿Tienes órdenes médicas, exámenes previos u otros documentos para compartir?\\n\\nResponde SI o NO:\\n\\n🔹 Escribe *CANCELAR* para salir\";\n        } else {\n          respuesta = \"📸 Por favor, responde SI o NO.\\n\\n¿Deseas enviar una foto de tu cédula?\\n\\n🔹 Escribe *CANCELAR* para salir\";\n        }\n      }\n    }\n\n    // PASO: ESPERANDO_FOTO_CEDULA\n    else if (paso === \"ESPERANDO_FOTO_CEDULA\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta = \"📷 Por favor, envía la foto de tu cédula ahora.\\n\\nAsegúrate de que sea clara y legible.\\n\\n🔹 Escribe *CANCELAR* para continuar sin foto de cédula\";\n      } else if (image_url && image_url.startsWith(\"http\")) {\n        datos_paciente.foto_cedula = image_url;\n        paso = \"SOLICITAR_IMAGENES_ADICIONALES\";\n        // ❌ SE ELIMINÓ: avanzarPaso(\"SOLICITAR_IMAGENES_ADICIONALES\");\n        respuesta = \"✅ Foto de cédula recibida correctamente.\\n\\n¿Tienes órdenes médicas, exámenes previos u otros documentos para compartir?\\n\\nResponde SI o NO:\\n\\n🔹 Escribe *CANCELAR* para salir\";\n      } else if (textLower === \"cancelar\") {\n        datos_paciente.foto_cedula = \"CANCELADA\";\n        paso = \"SOLICITAR_IMAGENES_ADICIONALES\";\n        // ❌ SE ELIMINÓ: avanzarPaso(\"SOLICITAR_IMAGENES_ADICIONALES\");\n        respuesta = \"✅ Continuaremos sin foto de cédula.\\n\\n¿Tienes órdenes médicas, exámenes previos u otros documentos para compartir?\\n\\nResponde SI o NO:\\n\\n🔹 Escribe *CANCELAR* para salir\";\n      } else {\n        respuesta = \"📷 Esperando la foto de tu cédula. Por favor, envíala ahora o escribe *CANCELAR* para continuar sin ella.\";\n      }\n    }\n\n    // PASO: SOLICITAR_IMAGENES_ADICIONALES\n    else if (paso === \"SOLICITAR_IMAGENES_ADICIONALES\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta = \"¿Tienes órdenes médicas, exámenes previos u otros documentos para compartir?\\n\\nResponde SI o NO:\\n\\n🔹 Escribe *CANCELAR* para salir\";\n      } else {\n        const respuestaSI = textLower === \"si\" || textLower === \"sí\";\n        const respuestaNO = textLower === \"no\";\n        \n        if (respuestaSI) {\n          paso = \"ESPERANDO_IMAGENES_ADICIONALES\";\n          // ❌ SE ELIMINÓ: avanzarPaso(\"ESPERANDO_IMAGENES_ADICIONALES\");\n          respuesta = \"📎 Puedes enviar imágenes adicionales ahora.\\n\\nEnvía una por una. Cuando termines, escribe *LISTO*.\\n\\n🔹 Escribe *CANCELAR* para salir\";\n        } else if (respuestaNO) {\n          datos_paciente.imagenes_adicionales = [];\n          paso = \"CONFIRMACION_FINAL\";\n          // ❌ SE ELIMINÓ: avanzarPaso(\"CONFIRMACION_FINAL\");\n          respuesta = generarResumen();\n        } else {\n          respuesta = \"📎 Por favor, responde SI o NO.\\n\\n¿Tienes documentos adicionales para compartir?\\n\\n🔹 Escribe *CANCELAR* para salir\";\n        }\n      }\n    }\n\n    // PASO: ESPERANDO_IMAGENES_ADICIONALES\n    else if (paso === \"ESPERANDO_IMAGENES_ADICIONALES\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta = \"📎 Puedes enviar imágenes adicionales ahora.\\n\\nEnvía una por una. Cuando termines, escribe *LISTO*.\\n\\n🔹 Escribe *CANCELAR* para salir\";\n      } else if (textLower === \"listo\") {\n        paso = \"CONFIRMACION_FINAL\";\n        // ❌ SE ELIMINÓ: avanzarPaso(\"CONFIRMACION_FINAL\");\n        respuesta = generarResumen();\n      } else if (image_url && image_url.startsWith(\"http\")) {\n        if (!Array.isArray(datos_paciente.imagenes_adicionales)) {\n          datos_paciente.imagenes_adicionales = [];\n        }\n        datos_paciente.imagenes_adicionales.push(image_url);\n        const total = datos_paciente.imagenes_adicionales.length;\n        respuesta = `✅ Imagen adicional recibida (${total} en total).\\n\\n¿Más imágenes o escribe *LISTO* para continuar?\\n\\n🔹 Escribe *CANCELAR* para salir`;\n      } else {\n        respuesta = \"📎 Envía otra imagen o escribe *LISTO* para continuar.\\n\\n🔹 Escribe *CANCELAR* para salir\";\n      }\n    }\n\n    // PASO: CONFIRMACION_FINAL\n    else if (paso === \"CONFIRMACION_FINAL\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta = generarResumen();\n      } else if (textLower === \"confirmar\") {\n        contexto = \"confirmacion_exitosa\";\n        \n        // Preparar datos para enviar (como en el código viejo)\n        const datosParaEnviar = {\n          ...datos_paciente,\n          medio_pago: datos_paciente.medio_pago,\n          servicio: datos_paciente.servicio,\n          fecha_preferida: datos_paciente.fecha_cita,\n          hora_preferida: datos_paciente.hora_cita,\n          membresia_interes: datos_paciente.membresia_interes,\n          foto_cedula_url: datos_paciente.foto_cedula || '',\n          imagenes_adicionales: Array.isArray(datos_paciente.imagenes_adicionales) \n            ? datos_paciente.imagenes_adicionales.join(',') \n            : '',\n          plataforma: platform,\n          session_id: session_id\n        };\n        \n        // Configurar para usar herramienta de captura de lead\n        usar_herramienta = true;\n        herramienta_nombre = \"capturar_lead_http\";\n        herramienta_parametros = datosParaEnviar;\n        respuesta = \"🔄 **PROCESANDO TU CITA**\\n\\nEstamos registrando tu información en el sistema...\";\n        \n        // Cambiar paso a CITA_CONFIRMADA para el mensaje final\n        paso = \"CITA_CONFIRMADA\";\n      } else if (textLower === \"modificar\") {\n        paso = \"MODIFICAR_DATOS\";\n        respuesta = \"¿Qué dato deseas modificar?\\n\\nEscribe el número correspondiente:\\n1. Nombre\\n2. Cédula\\n3. Teléfono\\n4. Fecha nacimiento\\n5. Servicio\\n6. Fecha cita\\n7. Hora cita\\n8. Cancelar modificación\\n\\n🔹 Escribe *CANCELAR* (sin número) para cancelar el agendamiento de la cita\";\n      } else if (textLower === \"cancelar\") {\n        contexto = \"cancelacion\";\n        respuesta = \"❌ **SOLICITUD CANCELADA**\\n\\nSi deseas agendar una cita en otro momento, escribe *agendar cita*.\\n\\n¡Gracias por contactar a UNISA!\";\n        modo = null;\n        paso = \"INICIO\";\n        datos_paciente = {};\n      } else {\n        respuesta = generarResumen();\n      }\n    }\n\n    // PASO: CITA_CONFIRMADA (nuevo paso para mensaje final)\n    else if (paso === \"CITA_CONFIRMADA\") {\n      contexto = \"cita_confirmada_final\";\n      respuesta = \"🎉 **¡CITA AGENDADA CON ÉXITO!**\\n\\n✅ Tu solicitud ha sido registrada en nuestro sistema.\\n📞 Un ejecutivo de UNISA se contactará contigo pronto para confirmar los detalles finales.\\n\\n¡Gracias por confiar en UNISA! ❤️\";\n      \n      // Resetear para nueva conversación\n      modo = null;\n      paso = \"INICIO\";\n      datos_paciente = {};\n    }\n\n    // PASO: MODIFICAR_DATOS\n    else if (paso === \"MODIFICAR_DATOS\") {\n      if (esTelefonoValido) {\n        datos_paciente.telefono = tel;\n        respuesta = \"¿Qué dato deseas modificar?\\n\\nEscribe el número correspondiente:\\n1. Nombre\\n2. Cédula\\n3. Teléfono\\n4. Fecha nacimiento\\n5. Servicio\\n6. Fecha cita\\n7. Hora cita\\n8. Cancelar modificación\\n\\n🔹 Escribe *CANCELAR* (sin número) para cancelar el agendamiento de la cita\";\n      } else {\n        const opciones = {\n          \"1\": { campo: \"nombre\", nuevo_paso: \"SOLICITAR_NOMBRE\", mensaje: \"Escribe tu nuevo nombre completo:\\n\\n🔹 Escribe *CANCELAR* para salir\" },\n          \"2\": { campo: \"cedula\", nuevo_paso: \"SOLICITAR_CEDULA\", mensaje: \"Escribe tu nueva cédula (solo números):\\n\\n🔹 Escribe *CANCELAR* para salir\" },\n          \"3\": { campo: \"telefono\", nuevo_paso: \"SOLICITAR_TELEFONO\", mensaje: \"Escribe tu nuevo teléfono (ej: +584141234567):\\n\\n🔹 Escribe *CANCELAR* para salir\" },\n          \"4\": { campo: \"fecha_nacimiento\", nuevo_paso: \"SOLICITAR_FECHA_NACIMIENTO\", mensaje: \"Escribe tu nueva fecha de nacimiento (dd/mm/aaaa):\\n\\n🔹 Escribe *CANCELAR* para salir\" },\n          \"5\": { campo: \"servicio\", nuevo_paso: \"SOLICITAR_SERVICIO\", mensaje: \"Escribe el nuevo servicio que necesitas:\\n\\n🔹 Escribe *CANCELAR* para salir\" },\n          \"6\": { campo: \"fecha_cita\", nuevo_paso: \"SOLICITAR_FECHA_CITA\", mensaje: \"Escribe la nueva fecha deseada (dd/mm/aaaa):\\n\\n🔹 Escribe *CANCELAR* para salir\" },\n          \"7\": { campo: \"hora_cita\", nuevo_paso: \"SOLICITAR_HORA_CITA\", mensaje: \"Escribe el nuevo horario (MAÑANA/TARDE/CUALQUIERA):\\n\\n🔹 Escribe *CANCELAR* para salir\" },\n          \"8\": { campo: \"cancelar\", nuevo_paso: \"CONFIRMACION_FINAL\", mensaje: \"Modificación cancelada.\" }\n        };\n        \n        const seleccion = text.trim();\n        \n        if (opciones[seleccion]) {\n          if (seleccion === \"8\") {\n            paso = opciones[seleccion].nuevo_paso;\n            respuesta = generarResumen();\n          } else {\n            delete datos_paciente[opciones[seleccion].campo];\n            paso = opciones[seleccion].nuevo_paso;\n            respuesta = opciones[seleccion].mensaje;\n          }\n        } else {\n          respuesta = \"Opción no válida. Por favor, elige un número del 1 al 8.\\n\\n🔹 Escribe *CANCELAR* (sin número) para cancelar el agendamiento de la cita\";\n        }\n      }\n    }\n  }\n\n  // =============================================\n  // 9. SALIDA FINAL\n  // =============================================\n  const estado_nuevo = {\n    modo,\n    paso,\n    datos_paciente,\n    timestamp: new Date().toISOString(),\n    timestamp_actividad // 🔴 Esto ahora se actualiza en TODAS las interacciones\n  };\n\n  return [{\n    contexto,\n    estado_actual: JSON.stringify(estado_nuevo),\n    user_message: text,\n    session_id,\n    conversation_id,\n    account_id,\n    platform,\n    modo_actual: modo,\n    paso_actual: paso,\n    respuesta_directa: respuesta,\n    datos_paciente,\n    has_image: Boolean(image_url && image_url.startsWith(\"http\")),\n    image_url,\n    // Campos para herramientas\n    usar_herramienta,\n    herramienta_nombre,\n    herramienta_parametros: herramienta_parametros\n  }];\n\n} catch (error) {\n  console.error(\"ERROR en router:\", error);\n  return [{\n    contexto: \"error\",\n    estado_actual: JSON.stringify({\n      modo: null,\n      paso: \"INICIO\",\n      datos_paciente: {},\n      timestamp: new Date().toISOString(),\n      timestamp_actividad: new Date().toISOString()\n    }),\n    respuesta_directa: \"⚠️ Error técnico. Intenta nuevamente.\",\n    usar_herramienta: false,\n    herramienta_nombre: \"\",\n    herramienta_parametros: \"{}\"\n  }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        2032
      ],
      "id": "06ff63e9-0c13-46d0-92f3-d9fbeb3eebb7",
      "name": "Seleccionar_paso_de_la_cita"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jumpjibe.com/api/session/guardar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"estado\": {\n    \"modo\": \"{{ $json.modo_actual }}\",\n    \"paso\": \"{{ $json.paso_actual }}\",\n    \"datos_paciente\":{{ JSON.stringify($json.datos_paciente)  }},\n    \"timestamp\": \"{{ $json.debug_timestamp }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2112,
        2608
      ],
      "id": "7aa51c22-5e41-4a24-92f8-595961388b48",
      "name": "Guardar_pasos_cita",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1792,
        2304
      ],
      "id": "18e728a9-3722-4941-8471-ff0510afb88c",
      "name": "Merge_paso_siguiente_guardar_paso"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef7ad721-0194-428e-be48-3c40ec5eccea",
              "leftValue": "={{ $json.modo_actual }}",
              "rightValue": "AGENDANDO_CITA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        1040
      ],
      "id": "f87430b1-667f-4c48-82fe-031af422d304",
      "name": "Evaluar_invocacion_de_cita"
    },
    {
      "parameters": {
        "jsCode": "// Node: Ejecutar Herramienta Manualmente - VERSIÓN SIMPLIFICADA\nconst input = $input.first();\n\nif (input.json.usar_herramienta === true || input.json.usar_herramienta === \"true\") {\n  const herramienta = input.json.herramienta_nombre;\n  \n  // Parsear los parámetros si vienen como string\n  let parametros = input.json.herramienta_parametros;\n  if (typeof parametros === 'string') {\n    try {\n      parametros = JSON.parse(parametros);\n    } catch (e) {\n      console.error(\"Error parsing herramienta_parametros:\", e);\n      return [{ \n        ...input.json, \n        output: \"❌ Error en el formato de datos. Por favor intenta nuevamente.\",\n        herramienta_ejecutada: false \n      }];\n    }\n  }\n  \n  // Crear el tool_input con la estructura EXACTA que necesita la herramienta\n  // La herramienta espera parámetros en el nivel raíz del JSON\n  const toolInput = {\n    // Copiamos todos los parámetros parseados\n    ...parametros,\n    \n    // Aseguramos que los campos críticos estén presentes\n    cedula: parametros.cedula || input.json.datos_paciente?.cedula || '',\n    telefono: parametros.telefono || input.json.datos_paciente?.telefono || '',\n    nombre_completo: parametros.nombre || input.json.datos_paciente?.nombre || '',\n    fecha_nacimiento: parametros.fecha_nacimiento || input.json.datos_paciente?.fecha_nacimiento || '',\n    plataforma: parametros.plataforma || input.json.platform || 'whatsapp',\n    fecha_preferida: parametros.fecha_preferida || input.json.datos_paciente?.fecha_cita || '',\n    hora_preferida: parametros.hora_preferida || input.json.datos_paciente?.hora_cita || '',\n    servicio: parametros.servicio || input.json.datos_paciente?.servicio || '',\n    medio_pago: parametros.medio_pago || input.json.datos_paciente?.medio_pago || '',\n    paciente_nuevo: parametros.paciente_nuevo || input.json.datos_paciente?.paciente_nuevo || '',\n    membresia_interes: parametros.membresia_interes || input.json.datos_paciente?.membresia_interes || '',\n    foto_cedula_url: parametros.foto_cedula_url || input.json.datos_paciente?.foto_cedula || '',\n    imagenes_adicionales: parametros.imagenes_adicionales || \n      (Array.isArray(input.json.datos_paciente?.imagenes_adicionales) ? \n        input.json.datos_paciente.imagenes_adicionales.join(',') : '')\n  };\n  \n  // Retornar estructura que el agente entenderá\n  return [{\n    ...input.json,\n    // Forzar ejecución de herramienta\n    tool: herramienta,\n    tool_input: toolInput,\n    // Mensaje para mostrar\n    output: input.json.respuesta_directa || \"Procesando solicitud...\",\n    // Marcar que ya procesamos la herramienta\n    herramienta_ejecutada: true\n  }];\n}\n\n// Si no hay herramienta, pasar los datos tal cual\nreturn [input.json];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        2496
      ],
      "id": "26625551-8e8f-404a-a309-259b9825efb9",
      "name": "Declarar_herramientas_para_la_IA"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13990ce7-e3b4-4056-9e7d-4eee97e1f577",
                    "leftValue": "={{ $json.modo }}",
                    "rightValue": "=MENU_PRINCIPAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "MENU_PRINCIPAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4a1faed0-6722-4b97-9428-5ccd4a64019e",
                    "leftValue": "={{ $json.modo }}",
                    "rightValue": "MENU_PRINCIPAL",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MENU_PRINCIPAL_FISRT_TIME"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "acc9bba6-bb76-43a8-8145-33b4a28ccfb7",
                    "leftValue": "={{ $json.modo }}",
                    "rightValue": "AGENDANDO_CITA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AGENDANDO_CITA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2336,
        1776
      ],
      "id": "23338b0f-38ee-453b-a58e-fa39dce79e9a",
      "name": "Consulta_o_agendar_cita"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jumpjibe.com/api/session/eliminar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $json.session_id }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2112,
        2416
      ],
      "id": "96666b42-5117-450b-af57-25be15cc065b",
      "name": "blanquear_session_de_la_cita1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e18125ed-19dd-47f8-9135-29bbb32cf2bc",
              "leftValue": "={{ $json.user_message }}",
              "rightValue": "cancelar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2400,
        2496
      ],
      "id": "48f66279-d67b-4b62-a2a1-16ca0ea68f5c",
      "name": "Cancelar_agendar_cita"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e18125ed-19dd-47f8-9135-29bbb32cf2bc",
              "leftValue": "={{ $json.user_message }}",
              "rightValue": "cancelar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1296,
        2480
      ],
      "id": "716f693e-048f-4b97-becc-70478ae8fca8",
      "name": "Cancelar_agendar_cita1"
    },
    {
      "parameters": {
        "jsCode": "// Procesar el primer elemento del array de entrada\nconst entrada = items[0].json;\n\n// Extraer session_id del input\nconst sessionId = entrada.session_id;\nconst conversation_id = entrada.conversation_id;\n\nconst account_id = entrada.account_id;\n\n\n// Crear objeto de salida con valores hardcode\nconst salida = [\n  {\n    account_id,\n    conversation_id,\n    \"respuesta\": \"👋 **¡Bienvenido/a a UNISA, tu Unidad de Salud Integral!**\\n\\nEstoy aquí para ayudarte. Puedes escribirme directamente:\\n\\n💲 **Precios**\\n🩺 **Servicios que ofrecemos**\\n📅 **Agendar cita / laboratorio / estudios**\\n💙 **Tarjeta de la Salud o CREDIUNISA**\\n\\n❓ **Otra consulta**\\n\\nIndica la opción que deseas 👇\",\n    \"estado_actualizado\": \"{\\\"modo\\\":null,\\\"paso\\\":\\\"INICIO\\\",\\\"datos\\\":{},\\\"timestamp\\\":\\\"2026-01-27T23:07:10.395Z\\\"}\",\n    \"session_id\": sessionId,\n    \"contexto\": \"saludo_inicial\",\n    \"modo_actual\": \"MENU_PRINCIPAL\",\n    \"debug_timestamp\": \"2026-01-27T23:07:10.410Z\",\n    \"debug_respuesta_directa_usada\": true,\n    \"debug_ai_response_length\": 0,\n    \"debug_forced_response\": \"SÍ\"\n  }\n];\n\nreturn salida;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        2400
      ],
      "id": "54631f9c-8848-4919-a2a6-c7d2d43d70b6",
      "name": "Ir_al_MENU_PRINCIPAL_por_cancelar"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5152,
        2080
      ],
      "id": "0929d8be-2741-456c-be01-ff9adf08cbe1",
      "name": "Entrar_ChattWoot1",
      "webhookId": "947db62d-f02e-4e7e-bb94-7b3073131e00"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b9b41b4-ef98-4699-80eb-24e70dbee117",
              "name": "=text",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "0f98afd1-e2e6-4c4d-9e9f-6e38c87694c6",
              "name": "session_id",
              "value": "={{ $json.body.conversation.contact_inbox.source_id }}",
              "type": "string"
            },
            {
              "id": "9cbd2d29-4e32-46fd-bbea-88317ec7681d",
              "name": "account_id",
              "value": "={{ $json.body.conversation.messages[0].account_id }}",
              "type": "string"
            },
            {
              "id": "ddcd14fb-bfd1-4f23-a0e0-7d0fa54e8719",
              "name": "conversation_id",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "9052a8a2-5a39-4b6f-a44f-728e2e7c2c41",
              "name": "message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "c76e6bbf-22cf-4dd8-ae67-49c5801c5be1",
              "name": "user_name",
              "value": "={{ $json.body.sender.account.name }}",
              "type": "string"
            },
            {
              "id": "b16fbd53-b6a3-4e0b-ac12-01912379a2fc",
              "name": "user_number",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "327aa426-279e-4d47-b4a9-2910e9b62282",
              "name": "platform",
              "value": "={{ $json.body.conversation.channel.includes('Whatsapp') ? 'whatsapp' : ($json.body.conversation.channel.includes('Facebook') ? 'facebook' : ($json.body.conversation.channel.includes('Instagram') ? 'instagram' : ($json.body.conversation.channel.includes('Telegram') ? 'telegram' : 'otro'))) }}",
              "type": "string"
            },
            {
              "id": "f921da3f-2311-4646-a2c9-152401811c3f",
              "name": "message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "12bb3da8-0d23-45ec-8ed8-a962d512d0fb",
              "name": "channel",
              "value": "={{ $json.body.conversation.channel }}",
              "type": "string"
            },
            {
              "id": "e70d5c0a-a243-4625-af3e-c40ca295cdef",
              "name": "content",
              "value": "={{ $json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "8a12bb4d-d77a-466b-ac20-851d770c34c0",
              "name": "file_type",
              "value": "={{ $json.body.conversation.messages[0].attachments?.[0]?.file_type || null }}",
              "type": "string"
            },
            {
              "id": "664d94bf-9a93-472e-8d11-887f1f82af70",
              "name": "phone_number",
              "value": "={{ $json.body.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "31829d53-6dc4-4a0a-829f-6a203803d8ee",
              "name": "user_name",
              "value": "={{ $json.body.sender.account.name }}",
              "type": "string"
            },
            {
              "id": "1ca7bf91-1d72-4995-a578-12c0aa68da8e",
              "name": "image_url",
              "value": "={{ $json.body.attachments && $json.body.attachments[0] && $json.body.attachments[0].data_url ? $json.body.attachments[0].data_url : '' }}",
              "type": "string"
            },
            {
              "id": "9741fd66-6a23-47b2-a5b1-0acb8401af6b",
              "name": "agente_desactivado",
              "value": "={{ $json.body.conversation.labels[0]=='agente_desactivado'?'off':'on' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4672,
        2240
      ],
      "id": "7dff61b9-fb1a-4991-bc2c-f69ca7f70537",
      "name": "Obtener_Info_entrada1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "44Hf0tLv7msSiroV",
          "mode": "id",
          "cachedResultUrl": "/workflow/44Hf0tLv7msSiroV"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2704,
        1808
      ],
      "id": "bf0e0b66-fe9a-4c3b-8f95-d30dd891b8ae",
      "name": "procesar_mensaje",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        2656
      ],
      "id": "3a2e4fdd-056f-44eb-9df5-25b2b595f801",
      "name": "Merge"
    }
  ],
  "pinData": {
    "Obtener_Info_entrada": [
      {
        "json": {
          "text": "desde facebook para n8n",
          "session_id": "33457832967141327",
          "account_id": "1",
          "conversation_id": "2",
          "message_type": "incoming",
          "user_name": "saymon",
          "user_number": null,
          "platform": "whatsapp",
          "channel": "Channel::FacebookPage",
          "content": "desde facebook para n8n",
          "file_type": null,
          "phone_number": null,
          "image_url": "",
          "agente_desactivado": "on"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "When clicking 'Execute workflow'": [
      {
        "json": {
          "contexto": "confirmacion_exitosa",
          "estado_actual": "{\"modo\":\"AGENDANDO_CITA\",\"paso\":\"CITA_CONFIRMADA\",\"datos_paciente\":{\"cedula\":\"10169943\",\"nombre\":\"Julio Cesar Medina\",\"servicio\":\"cardiologia\",\"telefono\":\"+584147923148\",\"hora_cita\":\"Tarde\",\"fecha_cita\":\"lo antes posible\",\"medio_pago\":\"Particular\",\"foto_cedula\":\"NO\",\"paciente_nuevo\":\"NO\",\"equipo_asignado\":\"Agendamiento_Directo\",\"fecha_nacimiento\":\"24/08/1976\",\"membresia_interes\":\"SI\",\"imagenes_adicionales\":[],\"requiere_seguimiento\":true},\"timestamp\":\"2026-02-01T14:59:02.592Z\",\"timestamp_actividad\":\"2026-02-01T14:59:02.592Z\"}",
          "user_message": "confirmar",
          "session_id": "33457832967141327",
          "conversation_id": "2",
          "account_id": "1",
          "platform": "facebook",
          "modo_actual": "AGENDANDO_CITA",
          "paso_actual": "CITA_CONFIRMADA",
          "respuesta_directa": "🔄 **PROCESANDO TU CITA**\n\nEstamos registrando tu información en el sistema...",
          "datos_paciente": {
            "cedula": "10169943",
            "nombre": "Julio Cesar Medina",
            "servicio": "cardiologia",
            "telefono": "+584147923148",
            "hora_cita": "Tarde",
            "fecha_cita": "lo antes posible",
            "medio_pago": "Particular",
            "foto_cedula": "NO",
            "paciente_nuevo": "NO",
            "equipo_asignado": "Agendamiento_Directo",
            "fecha_nacimiento": "24/08/1976",
            "membresia_interes": "SI",
            "imagenes_adicionales": [],
            "requiere_seguimiento": true
          },
          "has_image": false,
          "image_url": "",
          "usar_herramienta": true,
          "herramienta_nombre": "capturar_lead_http",
          "herramienta_parametros": {
            "cedula": "10169943",
            "nombre": "Julio Cesar Medina",
            "servicio": "cardiologia",
            "telefono": "+584147923148",
            "hora_cita": "Tarde",
            "fecha_cita": "lo antes posible",
            "medio_pago": "Particular",
            "foto_cedula": "NO",
            "paciente_nuevo": "NO",
            "equipo_asignado": "Agendamiento_Directo",
            "fecha_nacimiento": "24/08/1976",
            "membresia_interes": "SI",
            "imagenes_adicionales": "",
            "requiere_seguimiento": true,
            "fecha_preferida": "lo antes posible",
            "hora_preferida": "Tarde",
            "foto_cedula_url": "NO",
            "plataforma": "facebook",
            "session_id": "33457832967141327"
          }
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indentifica_canal": {
      "main": [
        [
          {
            "node": "procesar_mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "procesar_mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "procesar_mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar_IA_Responda?": {
      "main": [
        [
          {
            "node": "End1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Indentifica_canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pregunta_el_Cliente?": {
      "main": [
        [
          {
            "node": "Configurar_IA_Responda?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dueno_o_Bot_responde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrar_ChattWoot": {
      "main": [
        [
          {
            "node": "Obtener_Info_entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "capturar_lead_http": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Obtener_Info_entrada": {
      "main": [
        [
          {
            "node": "Pregunta_el_Cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Declarar_herramientas_para_la_IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Enviar_mensaje_de_IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar_mensaje_de_IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar_mensaje_de_IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar_mensaje_de_IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "respuestas_estaticas": {
      "main": [
        [
          {
            "node": "Guardar_pasos1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge_respuesta_estatica_Primera_vez_invocar_cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar_pasos1": {
      "main": [
        [
          {
            "node": "Merge_respuesta_estatica_Primera_vez_invocar_cita",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IA_salida_mas_variables": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar_dos_nodos": {
      "main": [
        []
      ]
    },
    "Merge_respuesta_estatica_Primera_vez_invocar_cita": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleccionar_paso_de_la_cita": {
      "main": [
        [
          {
            "node": "Merge_paso_siguiente_guardar_paso",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cancelar_agendar_cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar_pasos_cita": {
      "main": [
        [
          {
            "node": "Merge_paso_siguiente_guardar_paso",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge_paso_siguiente_guardar_paso": {
      "main": [
        [
          {
            "node": "Cancelar_agendar_cita1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar_invocacion_de_cita": {
      "main": [
        [],
        []
      ]
    },
    "Declarar_herramientas_para_la_IA": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Consulta_o_agendar_cita": {
      "main": [
        [
          {
            "node": "respuestas_estaticas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respuestas_estaticas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Seleccionar_paso_de_la_cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blanquear_session_de_la_cita1": {
      "main": [
        [
          {
            "node": "Merge_paso_siguiente_guardar_paso",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Cancelar_agendar_cita": {
      "main": [
        [
          {
            "node": "blanquear_session_de_la_cita1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar_pasos_cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar_agendar_cita1": {
      "main": [
        [
          {
            "node": "Ir_al_MENU_PRINCIPAL_por_cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Declarar_herramientas_para_la_IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ir_al_MENU_PRINCIPAL_por_cancelar": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrar_ChattWoot1": {
      "main": [
        [
          {
            "node": "Obtener_Info_entrada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener_Info_entrada1": {
      "main": [
        [
          {
            "node": "Pregunta_el_Cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procesar_mensaje": {
      "main": [
        [
          {
            "node": "Consulta_o_agendar_cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "IA_salida_mas_variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "90f34b73-8278-40d3-812f-5ec6f4e4e49a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac8b8e9b824b3711008329bf41bf68736c3261debaa6dcb0eaceede9a0a7edac"
  },
  "id": "8qh5NT5deV3gD1Yg",
  "tags": []
}