arquitectura/odoo18/clientes/cliente1/extra-addons/extra/chat-bot-unisa/n8n/tool_citas_subflow.json
{
  "name": "tool_citas",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=🚨 FLUJO DE CITA - VERSIÓN CON CONFIRMACIÓN Y REGISTRO 🚨\n\nESTE ES UN FLUJO COMPLETAMENTE NUEVO CADA VEZ. RECUERDA SOLO LOS DATOS DE ESTA CONVERSACIÓN.\n\n### PASO ÚNICO 1: SOLICITAR TELÉFONO\nCuando el usuario pida una cita, responde EXACTAMENTE:\n\n\"📱 Para comenzar a agendar tu cita, necesito tu número de WhatsApp con código de país.\n\nPor ejemplo: +584123456789\n\nPor favor, escríbeme tu número:\"\n\n### PASO ÚNICO 2: BUSCAR DATOS\nCuando recibas un número:\n1. EJECUTA `buscar_por_telefono_http` con `telefono` = [número recibido]\n2. ESPERA la respuesta JSON\n\n### PASO ÚNICO 3: MOSTRAR RESULTADO\n**SI `existe: true`:** \n\"✅ Encontramos tus datos:\n• Cédula: [cedula]\n• Nombre: [nombre_completo]\n• Fecha nacimiento: [fecha_nacimiento]\n• Teléfono: [telefono]\n• Tipo: [Paciente recurrente/Primera vez]\n\n¿Es correcta esta información? (Responde SI/NO)\"\n\n- SI dice \"SI\": Guarda estos datos y ve a PASO 4-A\n- SI dice \"NO\": Ve a PASO 4-B\n\n**SI `existe: false`:**\n\"🔍 No encontramos tu número. Vamos a registrarte.\"\nVe a PASO 4-B\n\n### PASO ÚNICO 4: PREGUNTAR DATOS RESTANTES\n**4-A (Confirmó datos):**\nPregunta en orden:\n1. \"¿Pago particular o con seguro médico?\" → Guarda como `medio_pago`\n2. **Tipo de servicio**: ¿Qué servicio necesitas?  → Guarda como `servicio`\n   Tenemos disponibles:\n   • Consultas médicas generales y de especialidades\n   • Laboratorio clínico\n   • Rayos X digital\n   • Ecografías (general, obstétrica, doppler, etc.)\n   • Mamografía\n   • Densitometría ósea\n   • Electrocardiograma y ecocardiograma\n   • Espirometría\n   • Holter de presión y ritmo\n   • Área de Atención Primaria Médica 24/7 (nebulizaciones, curaciones, suturas, yesos, etc.)\n\n3. \"¿Para cuándo? (Lo antes posible / Esta semana / Próxima semana / Fecha específica)\" → Guarda como `fecha_deseada`\n4. \"¿Horario de mañana o tarde?\" → Guarda como `hora_preferida`\n5. \"¿Te interesa nuestro programa de membresía? (Sí/No)\" → Guarda como `membresia_interes`\n\n**4-B (No confirmó o no existe):**\nPregunta en orden:\n1. \"¿Pago particular o con seguro médico?\" → Guarda como `medio_pago`\n2. \"Cédula (solo números):\" → Guarda como `cedula`\n3. \"Nombre completo:\" → Guarda como `nombre_completo`\n4. \"Fecha nacimiento (dd/mm/aaaa):\" → Guarda como `fecha_nacimiento`\n5. \"WhatsApp (ej: +58412...):\" → Guarda como `telefono`\n6. \"¿Primera vez en UNISA? (Sí/No)\" → Guarda como `paciente_nuevo`\n7. **Tipo de servicio**: ¿Qué servicio necesitas?  → Guarda como `servicio`\n   Tenemos disponibles:\n   • Consultas médicas generales y de especialidades\n   • Laboratorio clínico\n   • Rayos X digital\n   • Ecografías (general, obstétrica, doppler, etc.)\n   • Mamografía\n   • Densitometría ósea\n   • Electrocardiograma y ecocardiograma\n   • Espirometría\n   • Holter de presión y ritmo\n   • Área de Atención Primaria Médica 24/7 (nebulizaciones, curaciones, suturas, yesos, etc.)\n8. \"¿Para cuándo? (Lo antes posible / Esta semana / Próxima semana / Fecha específica)\" → Guarda como `fecha_deseada`\n9. \"¿Horario de mañana o tarde?\" → Guarda como `hora_preferida`\n10. \"¿Te interesa nuestro programa de membresía? (Sí/No)\" → Guarda como `membresia_interes`\n\n### PASO ÚNICO 5: MOSTRAR RESUMEN Y CONFIRMAR\nCuando tengas TODOS los datos, muestra:\n\n\"📋 **Resumen de tu cita:**\n1. Pago: [medio_pago]\n2. Cédula: [cedula]\n3. Nombre: [nombre_completo]\n4. Fecha nacimiento: [fecha_nacimiento]\n5. Teléfono: [telefono]\n6. Paciente nuevo: [paciente_nuevo]\n7. Servicio: [servicio]\n8. Fecha deseada: [fecha_deseada]\n9. Hora preferida: [hora_preferida]\n10. Interés membresía: [membresia_interes]\n\n¿Confirmas que esta información es correcta para agendar tu cita? (Responde CONFIRMAR para enviar o CANCELAR para empezar de nuevo)\"\n\n- Si el usuario dice \"CONFIRMAR\", \"SI\", \"SÍ\" o \"ACEPTO\": \n EJECUTA `capturar_lead_http` con TODOS los datos recopilados.\n \n- Si el usuario dice \"CANCELAR\", \"NO\" o \"CORREGIR\":\n Responde: \"Entendido. Vamos a empezar de nuevo.\" y reinicia desde el PASO 1.\n\n### PASO ÚNICO 6: RESPUESTA FINAL\nDespués de ejecutar `capturar_lead_http`:\n- Si la herramienta responde con éxito, muestra al usuario el mensaje del campo `respuesta_para_bot` o `mensaje` del JSON.\n- Si hay error, muestra: \"Hubo un error al registrar tu cita. Por favor, intenta de nuevo o contacta directamente con UNISA.\"\n\nFIN DEL FLUJO."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        832,
        -48
      ],
      "id": "1c9c4b05-5c70-4dbd-abac-a2b9c695dedd",
      "name": "AI_gent_Citas"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        688,
        208
      ],
      "id": "749972ec-ce3f-4d5b-9430-11f9cc386e30",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SynY9HmZH2SsZkWD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        880,
        208
      ],
      "id": "3b764792-6934-4d02-ab30-c6fcb0c1aa81",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n \"text\": \"quiero una cita\",\n \"session_id\": \"123\",\n \"platform\": \"whatsapp\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        464,
        -48
      ],
      "id": "ee7980db-fba3-4349-a070-54c11ebc226f",
      "name": "tool_citas"
    },
    {
      "parameters": {
        "toolDescription": "Busca un paciente en el sistema UNISA usando su número de teléfono. Devuelve datos como cedula, nombre_completo, fecha_nacimiento, telefono, es_paciente_nuevo y existe.",
        "method": "POST",
        "url": "https://jumpjibe.com/chat-bot-unisa/buscar_por_telefono_http",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefono",
              "value": "={{ $fromAI('telefono', '', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1088,
        176
      ],
      "id": "7d238ff7-a041-4413-b9fa-43f15017a7fa",
      "name": "buscar_por_telefono_http"
    },
    {
      "parameters": {
        "toolDescription": "Registra un lead/cita en Odoo con todos los datos del paciente. Úsala solo cuando el usuario confirme todo.",
        "method": "POST",
        "url": "https://jumpjibe.com/chat-bot-unisa/capturar_lead_http",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cedula",
              "value": "={{ $fromAI('cedula', '', 'string') }}"
            },
            {
              "name": "telefono",
              "value": "={{ $fromAI('telefono', '', 'string') }}"
            },
            {
              "name": "nombre_completo",
              "value": "={{ $fromAI('nombre_completo', '', 'string') }}"
            },
            {
              "name": "fecha_nacimiento",
              "value": "={{ $fromAI('fecha_nacimiento', '', 'string') }}"
            },
            {
              "name": "plataforma",
              "value": "whatsapp"
            },
            {
              "name": "fecha_preferida",
              "value": "={{ $fromAI('fecha_deseada', '', 'string') }}"
            },
            {
              "name": "hora_preferida",
              "value": "={{ $fromAI('hora_preferida', '', 'string') }}"
            },
            {
              "name": "servicio",
              "value": "={{ $fromAI('servicio', '', 'string') }}"
            },
            {
              "name": "medio_pago",
              "value": "={{ $fromAI('medio_pago', '', 'string') }}"
            },
            {
              "name": "paciente_nuevo",
              "value": "={{ $fromAI('paciente_nuevo', '', 'string') }}"
            },
            {
              "name": "membresia_interes",
              "value": "={{ $fromAI('membresia_interes', '', 'string') }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1232,
        144
      ],
      "id": "0cef5085-d6fc-4b50-9636-f526bb67aa0d",
      "name": "capturar_lead_http"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI_gent_Citas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI_gent_Citas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "tool_citas": {
      "main": [
        [
          {
            "node": "AI_gent_Citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_por_telefono_http": {
      "ai_tool": [
        [
          {
            "node": "AI_gent_Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "capturar_lead_http": {
      "ai_tool": [
        [
          {
            "node": "AI_gent_Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "086934f2-2b46-4fbd-bd5b-5cac1d4cdda4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac8b8e9b824b3711008329bf41bf68736c3261debaa6dcb0eaceede9a0a7edac"
  },
  "id": "9LoXPZcTB6zen4Zd",
  "tags": []
}