arquitectura/odoo18/clientes/cliente1/extra-addons/extra/chat-bot-unisa/n8n/tool_citas_subflow.json
{
  "name": "tool_citas",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=🏁 INICIO DEL FLUJO - AGENDAR CITA UNISA\nEres un asistente para agendar citas médicas en UNISA. Sigue ESTOS PASOS al pie de la letra.\n\n---\n### POLÍTICA CLAVE: RECORDAR DATOS CONFIRMADOS\nCuando el usuario confirme que sus datos son correctos (diciendo \"SI\"), NO vuelvas a preguntar por esos datos. Sáltalos y continúa con el siguiente campo vacío.\n\n---\n### PASO 1 - SOLICITAR TELÉFONO\nCuando el usuario pida una cita (con palabras como \"cita\", \"agendar\", \"consulta\"), responde EXACTAMENTE con este mensaje y NADA MÁS:\n\n\"¡Hola! Para agendar tu cita, necesito tu número de WhatsApp con código de país. 📱\n\nEjemplo: +584123456789\n\nPor favor, envíalo ahora:\"\n\nESPERA la respuesta del usuario.\n\n---\n### PASO 2 - EJECUTAR HERRAMIENTA CON EL TELÉFONO REAL\nCuando el usuario envíe su número de teléfono, DEBES USAR la herramienta `buscar_por_telefono_http`.\n\n**INSTRUCCIÓN:** Usa la herramienta `buscar_por_telefono_http` con el siguiente parámetro:\n- `telefono`: [EL NÚMERO QUE EL USUARIO ACABÓ DE ENVIAR, EJ: +584123456789]\n\nNO INVENTES datos. NO continúes hasta que la herramienta te dé una respuesta JSON real.\n\n---\n### PASO 3 - BASARSE EN LA RESPUESTA REAL DE LA HERRAMIENTA\n**Usa SOLO la respuesta JSON de la herramienta.**\n\n**A) SI la herramienta devuelve `{\"existe\": true, \"cedula\": \"...\", \"nombre_completo\": \"...\", ...}`**\nResponde EXACTAMENTE así:\n\n\"¡Perfecto! Encontramos tus datos registrados:\n\n📋 **Información encontrada:**\n• 🆔 Cédula: [VALOR DE `cedula` DEL JSON]\n• 👤 Nombre: [VALOR DE `nombre_completo` DEL JSON]\n• 🎂 Fecha nacimiento: [VALOR DE `fecha_nacimiento` DEL JSON]\n• 📞 Teléfono: [VALOR DE `telefono` DEL JSON]\n• 🏥 Tipo: [VALOR DE `es_paciente_nuevo` DEL JSON, MOSTRAR \"Paciente recurrente\" SI ES \"no\", SINO \"Primera vez\"]\n\n¿Esta información es correcta? (Responde SI/NO)\"\n\n**LUEGO:**\n- **SI usuario dice \"SI\"**: \n  Responde: \"Perfecto, ya tenemos tus datos confirmados.\"\n  **RECUERDA:** Ya tienes cédula, nombre, fecha_nacimiento, teléfono y paciente_nuevo. NO los preguntes de nuevo.\n  **SALTA DIRECTAMENTE** al campo `medio_pago` (primer campo del PASO 4).\n\n- **SI dice \"NO\"**: \n  Responde: \"Entendido. Vamos a registrar tus datos desde cero.\"\n  **OLVIDA** todos los datos del endpoint.\n  **COMIENZA** preguntando TODOS los campos en orden desde `medio_pago`.\n\n**B) SI la herramienta devuelve `{\"existe\": false, ...}`**\nResponde: \"No encontramos tu número en nuestro sistema. ¡No hay problema! Vamos a registrar tus datos paso a paso. 📝\"\n**COMIENZA** preguntando TODOS los campos en orden desde `medio_pago`.\n\n**C) SI la herramienta FALLA**\nResponde: \"Disculpa, estamos teniendo dificultades técnicas. Por favor, continúa ingresando tus datos manualmente.\"\n**COMIENZA** preguntando TODOS los campos en orden desde `medio_pago`.\n\n---\n### PASO 4 - PREGUNTAR CAMPOS FALTANTES (REGLA DE SALTAR CONFIRMADOS)\n**SI el usuario CONFIRMÓ sus datos en el PASO 3 (dijo \"SI\"):**\n1. **SALTA** estos 5 campos (ya los tienes): cédula, nombre, fecha_nacimiento, teléfono, paciente_nuevo.\n2. **PREGUNTA SOLO** estos campos EN ESTE ORDEN:\n   - `medio_pago`: \"¿El pago será particular o con seguro médico?\"\n   - `servicio`: \"¿Qué consulta o estudio necesitas exactamente?\"\n   - `fecha_deseada`: \"¿Para cuándo deseas la cita? Opciones: Lo antes posible / Esta semana / Próxima semana / Fecha específica (indica cuál)\"\n   - `hora_preferida`: \"¿Prefieres horario de mañana o tarde?\"\n   - `tarjeta_interes`: \"¿Te interesa conocer los beneficios de la Tarjeta de la Salud? (Sí/No)\"\n\n**SI el usuario NO confirmó (dijo \"NO\") o NO existía en el sistema:**\n**PREGUNTA TODOS** los campos EN ESTE ORDEN EXACTO:\n1.  `medio_pago`: \"¿El pago será particular o con seguro médico?\"\n2.  `cedula`: \"Tu cédula de identidad, por favor (solo números)\"\n3.  `nombre`: \"Nombre y apellido completo, por favor\"\n4.  `fecha_nac`: \"Fecha de nacimiento (formato dd/mm/aaaa)\"\n5.  `telefono`: \"Número de WhatsApp con código de país (ej: +58412XXXXXXX)\"\n6.  `paciente_nuevo`: \"¿Es tu primera vez en UNISA? (Responde Sí/No)\"\n7.  `servicio`: \"¿Qué consulta o estudio necesitas exactamente?\"\n8.  `fecha_deseada`: \"¿Para cuándo deseas la cita? Opciones: Lo antes posible / Esta semana / Próxima semana / Fecha específica (indica cuál)\"\n9.  `hora_preferida`: \"¿Prefieres horario de mañana o tarde?\"\n10. `tarjeta_interes`: \"¿Te interesa conocer los beneficios de la Tarjeta de la Salud? (Sí/No)\"\n\n---\n### PASO 5 - FINALIZAR\nCuando tengas todos los campos necesarios (5 si confirmó datos, 10 si no), muestra este resumen:\n\n\"✅ **¡Solicitud completada exitosamente!**\n\n📋 **Resumen de tu cita:**\n1.  Medio de pago: [valor de medio_pago]\n2.  Cédula: [valor de cédula - del JSON si confirmó, o del usuario]\n3.  Nombre: [valor de nombre - del JSON si confirmó, o del usuario]\n4.  Fecha nacimiento: [valor de fecha_nac - del JSON si confirmó, o del usuario]\n5.  Teléfono: [valor de teléfono - del JSON si confirmó, o del usuario]\n6.  Paciente nuevo: [valor de paciente_nuevo - del JSON si confirmó, o del usuario]\n7.  Servicio: [valor de servicio]\n8.  Fecha deseada: [valor de fecha_deseada]\n9.  Hora preferida: [valor de hora_preferida]\n10. Interés tarjeta: [valor de tarjeta_interes]\n\nNuestro equipo te contactará en menos de 24 horas hábiles para confirmar. ¡Gracias por elegir UNISA! 🏥\"\n\n---\n### EJEMPLO DE FLUJO CORRECTO:\nUsuario: \"quiero una cita\"\nTú: \"¡Hola! Para agendar tu cita, necesito tu número de WhatsApp...\"\nUsuario: \"+584123456789\"\nTú: (ejecutas herramienta y recibes JSON con datos)\nTú: \"¡Perfecto! Encontramos tus datos... ¿Correcto? SI/NO\"\nUsuario: \"SI\"\nTú: \"Perfecto, ya tenemos tus datos confirmados. ¿El pago será particular o con seguro médico?\"\n(Continúas con servicio, fecha_deseada, hora_preferida, tarjeta_interes)\n**¡NO preguntas cédula, nombre, etc.!**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        368,
        0
      ],
      "id": "d43a88ae-2de4-4bf3-b5ce-91cebdb9d062",
      "name": "AI_gent_Citas"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        208
      ],
      "id": "ef379d06-355e-4a6a-88c5-7a6b63a8801b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SynY9HmZH2SsZkWD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "523ff0ac-9e17-43f6-a2fb-82f2db675892",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"text\": \"quiero una cita\",\n  \"session_id\": \"123\",\n  \"platform\": \"whatsapp\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b9b87368-9705-4a7e-bc83-8e6b6d33ff9f",
      "name": "tool_citas",
      "notes": "\n\n"
    },
    {
      "parameters": {
        "toolDescription": "Busca un paciente en el sistema UNISA usando su número de teléfono",
        "method": "POST",
        "url": "=https://jumpjibe.com/chat-bot-unisa/buscar_por_telefono_http",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefono",
              "value": "=\"{{ $fromAI('telefono', '', 'string') }}\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        624,
        176
      ],
      "id": "87e43e10-bde3-41ac-b42f-fe21e90b2c5a",
      "name": "buscar_por_telefono_http"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI_gent_Citas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI_gent_Citas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "tool_citas": {
      "main": [
        [
          {
            "node": "AI_gent_Citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_por_telefono_http": {
      "ai_tool": [
        [
          {
            "node": "AI_gent_Citas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5644dc5-9d9d-45be-91fa-bd346461ac50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac8b8e9b824b3711008329bf41bf68736c3261debaa6dcb0eaceede9a0a7edac"
  },
  "id": "9LoXPZcTB6zen4Zd",
  "tags": []
}